.panel.research_topics{class: (local_assigns[:panel_class] ? panel_class : "panel-default")}
  .panel-heading
    .panel-title
      = heading
  - if research_topics.empty?
    .panel-body
      .alert.alert-info
        None.
      %a.btn.btn-success.btn-sm.btn-block{href: new_research_topic_path} Propose a Question

  - else
    .list-group
      - research_topics.each do |research_topic|
        .list-group-item.research_question
          = link_to research_topic.text, research_topic_path(research_topic)
