<div class="form-group">
  <%= f.label :text, class: 'sr-only' %>
  <%= f.text_area :text, class: 'form-control input-lg', placeholder: "Enter text here..." %>
</div>

<% if params[:reply_to_id] %>
  <%= f.hidden_field :reply_to_id, :value => params[:reply_to_id] %>
<% end %>
