
%table.table.table-striped
  %thead
    %td
    - DUMMY_DATA_SOURCE_TYPES.each do |data_source_type|
      %td= data_source_type.to_s.titleize
  - DUMMY_DATA_SOURCES.each do |data_source_name,supported_data_source_types|
    %tr
      %td= data_source_name
      - DUMMY_DATA_SOURCE_TYPES.each do |data_source_type|
        %td
          - if supported_data_source_types.include?(data_source_type)
            %i.fa.fa-times



