-# Load dummy health data for demonstration
- dummy_health_data = YAML.load_file("config/health_data.yml")
- dummy_data_sources = dummy_health_data["data_sources"]
- dummy_data_source_types = dummy_health_data["data_source_types"]


%table.table.table-striped
  %thead
    %td
    - dummy_data_source_types.each do |data_source_type|
      %td= data_source_type.to_s.titleize
  - dummy_data_sources.each do |data_source_name,supported_data_source_types|
    %tr
      %td= data_source_name
      - dummy_data_source_types.each do |data_source_type|
        %td
          - if supported_data_source_types.include?(data_source_type)
            %i.fa.fa-times



