- if current_user && Figaro.env.oodt_enabled?
  %h4 Please visit the Validic App Marketplace to Authorize your Apps:
  %br/
  %a.btn.btn-success.btn-md{:href => current_user.validic_app_marketplace_url, :target => "_blank"} Add or Remove Device Connections
