.row
  .col-md-12
    %h3 My Data Connections
    %p By connecting different health data sources, you help researchers from around the world help understand how this condition impacts you. Fusce erat velit, luctus at tempor non, hendrerit sit amet ligula. Praesent quis eleifend magna. Proin nec nibh ut mi elementum tristique sit amet non est.
    %p Fusce erat velit, luctus at tempor non, hendrerit sit amet ligula. Praesent quis eleifend magna. Proin nec nibh ut mi elementum tristique sit amet non.



%br/


- source_num = 0

- @pprn["data_sources"].each do |source,junk|
  - if (source_num % 3 == 0)
    .row

  .col-md-4
    .panel.panel-default
      .panel-body
        %h4= source
        - if ![true,false,false,false].shuffle.first
          %button.btn.btn-success.btn-sm Connect
        - else
          %button.btn.btn-default.disabled.btn-sm Connected



  - source_num += 1