= image_tag "time-series.png", :width => "100%"

%br/
%br/

.panel.panel-default
  .panel-heading
    %h4.panel-title Stream

  %table.table.table-striped.table-responsive
    %thead.small
      %td Date
      %td Health Info
      %td Source
    %tbody
      - @pprn["data_sources"].each do |data_source_name,supported_data_source_types|
        %tr
          %td= rand(Time.now - 3.months..Time.now)
          %td= rand(0..10000)
          %td= data_source_name

  .panel-footer{:style=> "padding: 0px; padding-top: 5px;"}
    .text-center
      %ul.pagination.pagination-sm{:style=> "margin: 0px;"}
        %li
          %span &laquo;
        %li.disabled
          %span ...
        %li
          %span &raquo;



/ %td.no-wrap{:style => "background-color: #f5f5f5 !important;"}
/   Today
/ %td{:style => "background-color: #f5f5f5 !important;"}
/   %div.col-md-4.col-xs-12.text-center
/     How are you feeling?
/     / %br/
/     / %i.fa.fa-circle
/     / &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
/     / %i.fa.fa-circle
/     / &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
/     / %i.fa.fa-circle
/     / &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
/     / %i.fa.fa-circle
/     / %br/
/     %input{:type => "range"}
/     %br/
/   .col-md-6.col-xs-12
/     %textarea.form-control{:placeholder => "Type a journal entry here.."}
/     %br/
/   %div.col-md-2.col-xs-12
/     %a.btn.btn-primary.btn-block{:href=>"javascript:location.reload();"} Post