- @title = "My Connections"
- @active_sub_nav = :my_connections


- if current_user && OODT_ENABLED
  %h4 Please visit the Validic App Marketplace to Authorize your Apps:
  %br/
  %a.btn.btn-success.btn-md{:href => current_user.validic_app_marketplace_url, :target => "_blank"} Add or Remove Device Connections
