
%h3 My Reports
%hr/

- current_user.health_attribute_data.each do |attribute|
  %h4= attribute[:title]
  / = render :partial => "shared/progress", locals: {attribute: attribute}

  .progress
    - attribute[:zones].each do |zone|
      .progress-bar.progress-bar-success{style: "width: #{zone[:endValue] / 10}%"}
        %span= zone[:title]



    /{element: 1, title: "Blood Type", value: 500, zones: [{startValue: 1, endValue: 888, title: "Low"}, {startValue: 300, endValue: 999, title: "High"}], markers: [{value: 1, title: "User Max"}, {value: 2, title: "User Average"}] },


  %hr/
