.panel-primary {
  border-color: #1e1848;
}

.panel-primary > .panel-heading {
  color: white;
  background-color: #1e1848;
  border-color: #1e1848;
}

.panel-primary > .panel-heading h1 {
  color: white;
}

#pledge .panel-heading h2 {
  color: #fff;
}

.teamPhoto {
  margin-top: 50px;
}