// LAYOUT STYLES
body#MyApnea {
  font-size:$baseFontSize;
  font-family:$contentFontFamily;
  line-height:2;
  overflow-x:hidden;

  a {
    // text-decoration: underline;
  }

  a:hover {
    text-decoration: underline;
    // font-weight:bolder;
  }

  > .container {
    margin-top: $normal-nav-height - 10px;
  }

  .page-header-blank {
    height: 0px;
  }

}


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color:$headings-Color;
  font-family:$sansFontFamily;
}

h1, .h1 {
  text-transform:uppercase;
  font-size:$font-size-h1;
}
ul li {
  padding-left:25px;
}

p{
  margin:20px 0;
}

// Footer

#footer {
  background:$white;


  img {
    padding-top: 15px;
    max-width: 100%;
  }

}

body#MyApnea {
  .highlightPanel {
    background: $highlightPanel;
    border-top: 1px solid $white;
    box-shadow: $subtleShadow;
  }

  .highlightPanelTop {
    background: $highlightBox;
    box-shadow: $subtleShadow;
    margin-top: -40px;
    border-top: 1px solid rgba(255, 255, 255, .05);
    border-bottom: 1px solid rgba(255, 255, 255, .05);
    position: relative;
    z-index: 999;
  }

  #innerSignup {
    background-image: url('#{$assets-path}/myapnea/icons/sign-up.png');
    display: inline-block;
    height: 100px;
    overflow: hidden;
    position: absolute;
    /* left: -4%; */
    text-indent: -9999px;
    top: 250px;
    right: 50px;
    width: 280px;
    background-size: 280px 100px;
    background-repeat: no-repeat;
    z-index: 1000;


  }

}