// myapnea-extras.scss

$font-name: 'questrialregular';
$font-file-name: 'questrial-regular-webfont';

@font-face {
  font-family: '#{$font-name}';
  src:url('#{$assets-path}/#{$font-file-name}.eot');

  src:url('#{$assets-path}/#{$font-file-name}.eot?#iefix') format('embedded-opentype'),
  url('#{$assets-path}/#{$font-file-name}.woff') format('woff'),
  url('#{$assets-path}/#{$font-file-name}.ttf') format('truetype'),
  url('#{$assets-path}/#{$font-file-name}.svg##{$font-name}') format('svg');
  font-weight: normal;
  font-style: normal;
}

$font-name: 'futura_lightregular';
$font-file-name: 'futura_light-webfont';

@font-face {
  font-family: '#{$font-name}';
  src:url('#{$assets-path}/#{$font-file-name}.eot');

  src:url('#{$assets-path}/#{$font-file-name}.eot?#iefix') format('embedded-opentype'),
  url('#{$assets-path}/#{$font-file-name}.woff') format('woff'),
  url('#{$assets-path}/#{$font-file-name}.ttf') format('truetype'),
  url('#{$assets-path}/#{$font-file-name}.svg##{$font-name}') format('svg');
  font-weight: normal;
  font-style: normal;
}

$font-name: 'futurabeyaz_italic';
$font-file-name: 'futura_beyaz_italic-webfont';

@font-face {
  font-family: '#{$font-name}';
  src:url('#{$assets-path}/#{$font-file-name}.eot');

  src:url('#{$assets-path}/#{$font-file-name}.eot?#iefix') format('embedded-opentype'),
  url('#{$assets-path}/#{$font-file-name}.woff') format('woff'),
  url('#{$assets-path}/#{$font-file-name}.ttf') format('truetype'),
  url('#{$assets-path}/#{$font-file-name}.svg##{$font-name}') format('svg');
  font-weight: normal;
  font-style: normal;
}

$font-name: 'futuraextendedregular';
$font-file-name: 'futuraextended-webfont';

@font-face {
  font-family: '#{$font-name}';
  src:url('#{$assets-path}/#{$font-file-name}.eot');

  src:url('#{$assets-path}/#{$font-file-name}.eot?#iefix') format('embedded-opentype'),
  url('#{$assets-path}/#{$font-file-name}.woff') format('woff'),
  url('#{$assets-path}/#{$font-file-name}.ttf') format('truetype'),
  url('#{$assets-path}/#{$font-file-name}.svg##{$font-name}') format('svg');
  font-weight: normal;
  font-style: normal;
}

$font-name: 'futura_bdcn_btbold';
$font-file-name: 'futura_bdcn_bt_bold-webfont';

@font-face {
  font-family: '#{$font-name}';
  src:url('#{$assets-path}/#{$font-file-name}.eot');

  src:url('#{$assets-path}/#{$font-file-name}.eot?#iefix') format('embedded-opentype'),
  url('#{$assets-path}/#{$font-file-name}.woff') format('woff'),
  url('#{$assets-path}/#{$font-file-name}.ttf') format('truetype'),
  url('#{$assets-path}/#{$font-file-name}.svg##{$font-name}') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-size:$baseFontSize;
  font-family:$contentFontFamily;
  line-height:2;
  overflow-x:hidden;

}

body a {
  // text-decoration: underline;
}

body a:hover {
  text-decoration: underline;
  // font-weight:bolder;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color:$headings-Color;
  font-family:$sansFontFamily;
}

h1, .h1 {
  text-transform:uppercase;
  font-size:$font-size-h1;
}
ul li {
  padding-left:25px;
}

p{
  margin:20px 0;}

.col-md-3.nav {
}

.affix{
  //   left: 65%;
  top: 80px;
}

// .affix:before, #affix-nav:before {
//     border-top:2px solid #fff;
//      min-height:350px;
// }


.affix, #affix-nav {
  font-size:10px;
  line-height:1.4;
  background:linear-gradient(to bottom, rgba(255, 255, 255, 0.75)0%, rgba(255, 255, 255, 0.4)80%, rgba(255,255,255,0)100%);
  padding-top:25px;
  border-radius:5px 5px 0 0;
  border-style: solid;
  border-width:1px;
  border-color:rgba(255,255,255,.5);
  // border-image: linear-gradient(rgba(255,255,255,1)0%, rgba(0, 0, 0, 0)) 1 100%;
  border-bottom: none;
  max-width: 280px;
  width:25%;
}


// .affix:after, #affix-nav:after {
//     content:"";
//     top:-3px;
//     bottom:-3px;
//     width:3px;
//     position:absolute;
//     background:linear-gradient(to bottom, rgba(255, 255, 255, 0.75)0%, rgba(255, 255, 255, 0.4)80%, rgba(255,255,255,0)100%);
// }

header .navbar .navbar-inverse {
  background-color:$blueDark;
  height:65px;
  box-shadow: $subtleShadow;
  -webkit-transition: height 0.25s;
  -moz-transition: height 0.25s;
  -ms-transition: height 0.25s;
  -o-transition: height 0.25s;
  transition: height 0.25s; }

header.smaller .navbar .navbar-inverse {
  // height:35px;
  height: 42px;
  -webkit-transition: height 1s;
  -moz-transition: height 1s;
  -ms-transition: height 1s;
  -o-transition: height 1s;
  transition: height 1s; }

header .navbar .navbar-inverse .container-fluid #myApneaLogo {
  background-image: url('#{$assets-path}/myApneaLogo.png');
  display: inline-block;
  height: 140px;
  overflow: hidden;
  text-indent: -9999px;
  width: 411px;
  float: left;
  position: absolute;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: 0px 9px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}


header.smaller .navbar .navbar-inverse .container-fluid #myApneaLogo {
  height: 70px;
  background-size: 40%;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header.smaller .navbar .navbar-inverse .container-fluid .navContainer .clientFunctions {
  color:$menuLinkColor;
  text-align:left;
  border-bottom:none;
  margin-top:8px;
  position:absolute;
  margin-right:875px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}


header .navbar .navbar-inverse .container-fluid .navContainer .clientFunctions {
  color: $menuLinkColor;
  border-bottom: 1px solid $borderColor;
  min-width: 330px;
  margin-top: 5px;
  position:relative;
  text-align: right;
  text-transform:uppercase;
  padding-bottom:5px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

header .navbar .navbar-inverse .container-fluid .navContainer .navbar-inverse .navbar-nav > li > a:after {
  content:'|';
  opacity: .5;
  padding-left:22px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}


header.smaller .navbar .navbar-inverse .container-fluid .navContainer .navbar-inverse .navbar-nav > li > a:after {
  content:'|';
  opacity: .5;
  padding-left:22px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}




.nav > li {
  text-transform:uppercase;
  color: $menuLinkColor;
}


.navbar-inverse .navbar-nav > li > a:hover {
  text-decoration:underline;
  color:$linkColorHover;
  font-weight:normal;
}

.navbar-inverse .navbar-nav > li > a {
  padding-top:0;
  color:$menuLinkColor;
  padding:2px 0;
}

// .navbar-inverse .navbar-nav > li > a:last-of-type:after:hover, .navbar-inverse .navbar-nav > li > a:last-of-type:after {
//         content:'';
//         opacity:0;
// }

.currentPage{
  color:$linkColor !important;;
  text-decoration: underline;}

.navbar-inverse .navbar-nav > li > a:after:hover {
  color:$menuLinkColor;
  text-decoration: none;}



.navbar {
  min-height:0;
}

.clientFunctions, .navFunctions {
  line-height: 1;
}


.navContainer {
  float:right;
  width:68%;
  margin-top:11px;
  font-size:1.2rem;
}

.userName{
  display: inline-block;
  padding-right: 25px;
}

.signInOut {
  display: inline-block;
  padding-left: 25px;
}

div.navbar-inverse div.navbar ul.nav li.active a{
  background-color: $none;
  border-top: 1px solid $white;

}

.row.pageTop {
  position:relative;
  height:360px;
  width:100%;
  margin:0;
}


p.lead {
  font-style:italic;
  font-size:$fontSizeLarge;
}

#carousel {
  height:360px;
  overflow:hidden;
  margin-bottom:40px;
  margin-bottom: 40px;
  position: relative;
  z-index: 99;
  background:$blue;
}

#innerCarousel {
  height:360px;
  overflow:hidden;
  margin-bottom:40px;
  margin-bottom: 40px;
  position: absolute;
  width:100%;
  z-index: 99;
  background:$blue;
}


img.headerImg {
  width:100%;
  margin:0 auto;
  height:100%;
  max-height:400px;
  position: absolute;
  width: 100%;
  margin: 0 auto;
  /* height: 100%; */
  max-height: 400px;
  position: relative;
  top: 0;
  /* right: 16%; */
  // background-image: url('../images/hdr-ladySleeping.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: 50% 40%;
}

hr, .dividerLight {
  border-top:1px solid $grayLight;
  clear: both;
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 30px;
  width:100%;
}

.dividerClear {
  margin-top:120px;
  margin-bottom:30px;
  width:100%;
  display:inline-block;
  clear:both;
}

.testimonialImg {
  // background-image: url("../images/test01.jpg");
  border-radius: 0 237px 237px 0;
  height: 237px;
  left: -102%;
  margin-top: 20px;
  position: absolute;
  width: 819px;
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow:$subtleShadow inset;
  background:#049cdb;
}

.faqImg {
  // background-image: url("../images/faqImg.jpg");
  // background-image: url("../images/faqImg.jpg");
  border-radius: 0 237px 237px 0;
  height: 320px;
  left: -102%;
  margin-top: 20px;
  position: absolute;
  width: 609px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 7px 0px 22px 9px rgba(0, 0, 0, 0.08) inset;    box-shadow:$subtleShadow inset;
  background:#049cdb;
}


.learnImg {
  // background-image: url("../images/learn01.jpg");
  border-radius: 0 320px 320px 0;
  height: 460px;
  left: 0;
  margin-top: 65px;
  position: absolute;
  width: 40%;
  background-repeat: no-repeat;
  box-shadow:$subtleShadow inset;
  background:#049cdb;

}

.shareImg {
  border-radius: 0 237px 237px 0;
  height: 485px;
  left: -20px;
  margin-top: 0%;
  position: absolute;
  width: 100%;
  background-repeat: no-repeat;
  background: #049cdb;
}

.patientImg {

  // background-image: url("../images/patient01.jpg");
  background-repeat: no-repeat;
  background-size: 624px 645px;
  border-radius: 300px 0 0 300px;
  height: 321px;
  left: 40%;
  margin-bottom: -30px;
  margin-top: 25%;
  position: absolute;
  width: 645px;
  background:#049cdb;
}

.communityImg {
  background-repeat: no-repeat;
  border-radius: 50% 0 0 50%;
  right: -20%;
  position: absolute;
  width: 60%;
  float: right;
  height: 80%;
  max-height: 850px;
  max-width: 805px;
  background: #049cdb;
  margin-top: 70px;
}

.img-float-leftLarge {
  left: -50%;
  margin-bottom: -30px;
  position: absolute;
}

.img-float-right {
  right: 0;
  margin-bottom: -30px;
  position: absolute;
  border-radius:0px 215px 215px 0px;
}


#signup{
  background-image: url('#{$assets-path}/sign-up.png');
  display: inline-block;
  float: right;
  height: 195px;
  overflow: hidden;
  position: absolute;
  right: 0;
  text-indent: -9999px;
  top: 200px;
  width: 555px;
  cursor: pointer;
  z-index: 1000;}


//Modal Styling

.modal-dialog {
  width:980px;
  max-width:50%;
}

.modal-title {
  margin:10px 0 -15px -15px;
}

.modal-header {
  margin:5px 25px;
  border-bottom: 1px solid #201646;
}

.modal-dialog, .modal-header, .modalHeadline, .modalBlock h3{
  color:#251d5b;
}
.modalHeadline {
  margin:0 35px;
  font-size:20px;
  font-size:2rem;
  text-transform: uppercase
}

.modalBlock h3, .modalBlock h4 {
  text-transform: uppercase;
}

.modalBlock h4 {margin-top:20px;}


.modal-content{
  border-radius:25px;
  box-shadow:0px 0px 32px 5px rgba(252,184,0,.75);
  background:linear-gradient(to bottom, #ececec 0%, rgba(221,221,227,.85) 55%);
}

.modal-content p{
  line-height:1;
  margin-top: 0;
  color:#010101;
  font-size: 1.4rem;
}

.modalBlock {
  border:1px solid rgba(255,255,255,1);
  border-radius:20px;
  min-height:370px;
  max-width:45%;
  margin-left:3.5%;
  background:rgba(221, 221, 227, 1);
}

.modalBlock h3 {
  border-bottom: 1px solid #201646;
}

.modal-footer .col-md-3 a{
  float:left;
  text-transform: uppercase;
}

#modalSignup {
  background-image: url('#{$assets-path}/joinNow.png');
  display: inline-block;
  float: right;
  height: 129px;
  overflow: hidden;
  position: relative;
  /* left: 30%; */
  text-indent: -9999px;
  /* bottom: 65px; */
  width: 356px;
  cursor: pointer;
  z-index: 1000;
  background-size: 356px 129px;
  background-repeat: no-repeat;
  padding: 0px;
  margin: 1px;
}

// Video Player Div

div.videoPlayer{
  box-shadow: $subtleShadow;
}

// Member Count Badge on Index Page
.memberCount {
  border-width: 1px;
  border-color: rgb( 255, 255, 255 );
  border-style: solid;
  border-radius: 31px;
  background-image: -moz-linear-gradient( 90deg, rgb( 232, 133, 2 ) 0%, rgb( 255, 198, 111 ) 99.512%);
  background-image: -webkit-linear-gradient( 90deg, rgb( 232, 133, 2) 0%, rgb( 255, 198, 111 ) 99.512%);
  box-shadow: 2.5px 4.33px 5px 0px rgba(0,0,0,.4);
  height: auto;
  width:140px;
  padding:20px 0;
  margin-top:90px;
  float:right;
  font-family:'futuraextendedregular';
  text-align:center;
  text-transform:uppercase;

}

.countHeader{
  font-family:'futura_bdcn_btbold';
  font-size:2.9rem;
  line-height:1;
}


.countGoal{
  font-family:'futura_bdcn_btbold';
  font-size:8rem;
  line-height:1;}

.goalSuffix{
  font-family:'futura_bdcn_btbold';
  font-size:3.25rem;
  line-height:1;
  border-bottom:1px solid rgba(255,255,255,.6);
  width:100%}

.total{
  font-family:'futura_bdcn_btbold';
  font-size:3rem;
  line-height:1;
  float:right;
}

.total:before{
  content:'+';
  font-family:'futura_bdcn_btbold';
  font-size:3.8rem;
  line-height:1;

}

.goalMessage{
  font-family:'futura_bdcn_btbold';
  font-size:1.3rem;
  line-height:1;
  float:right;
  margin-right: 15px;}

// End Member Count
// #innerSignup{
//   background-image: url("../images/sign-up.png");
//   display: inline-block;
//   float: right;
//   height: 100px;
//   overflow: hidden;
//   position: absolute;
//   right: 380px;
//   text-indent: -9999px;
//   top: 230px;
//   width: 280px;
//   background-size: 280px 100px;
//   background-repeat: no-repeat;
//   z-index: 1000;
// }

#innerSignup {
  background-image: url('#{$assets-path}/sign-up.png');
  display: inline-block;
  float: right;
  height: 100px;
  overflow: hidden;
  position: relative;
  /* left: -4%; */
  text-indent: -9999px;
  top: 250px;
  width: 280px;
  background-size: 280px 100px;
  background-repeat: no-repeat;
  z-index: 1000;
  padding-right: 33%;
}

.highlightPanelTop {
  background: $highlightBox;
  box-shadow: $subtleShadow;
  margin-top:-40px;
  border-top:1px solid rgba(255,255,255,.05);
  border-bottom:1px solid rgba(255,255,255,.05);
  position:relative;
  z-index: 999;
}

.tall {
  min-height:580px;
}

.community {
  min-height:850px;
}

.highlightPanel {
  background:$highlightPanel;
  border-top:1px solid $white;
  box-shadow: $subtleShadow;
}

// Home Page Areas

.homeTest div.container div.dividerLight {
  margin:90px 0;
}

.highlightPanelTop > .container {
  margin-top:40px;
  margin-bottom:-100px;
}

.makeRoom {
  margin-top:60px;
}

#footer {
  background:$white;
  margin-top:70px;

}

#footer > li {
  text-decoration:none;
}

//Team Page

.team {
  position:relative;
}

.teamPhoto {
  position:absolute;
  right:90%;
}

// Bacon

.line, .line_content {
  position:absolute;
  text-align:justify;
}

.line_content:after {
  content: "";
  display: inline-block;
  width: 100%;
}

// End Bacon

@media screen and (max-width:768px) {
  h1, .h1 {
    font-size: 4.2rem;
    text-transform: uppercase;
  }
  .imgMobileFullWidth {
    border-radius: 2px 2px 2px 2px;
    left:0;
    width:100%;
    position:relative;
    margin-top:10px;
    max-height:250px;
  }
  #affix-nav {
    display:none;
  }

  .shapeWrapper {
    display:none;
  }

  .teamPhoto {
    float:left;
    position:inherit;
    right: 0;
  }

  #signup{
    background-image: url('#{$assets-path}/sign-up.png');
    display: inline-block;
    float: right;
    height: 195px;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-indent: -9999px;
    top: 200px;
    width: 555px;
    cursor: pointer;
    z-index: 1000;
  }
}

@media screen and (max-width:320px) {
  #TheTeam {
    height: auto;
    margin-bottom: 10px;
    padding-bottom: 140px;
  }
  .teamPhoto {
    float:left;
    position:inherit;
    right: 0;
  }
}

.videoPLayer > iframe {
  box-shadow: 2px -4px 17px 9px rgba(0, 0, 0, 0.08);
  -webkit-box-reflect: below 4px linear-gradient(175deg, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0.25) 100%);
  box-reflect: below 4px linear-gradient(175deg, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0.25) 100%);
  -moz-box-reflect: below 4px linear-gradient(175deg, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0.25) 100%);
}
