@media screen and (max-width:768px) {
  h1, .h1 {
    font-size: 4.2rem;
  }
  .imgMobileFullWidth {
    border-radius: 2px 2px 2px 2px;
    left:0;
    width:100%;
    position:relative;
    margin-top:10px;
    max-height:250px;
  }
  #affix-nav {
    display:none;
  }

  .shapeWrapper {
    display:none;
  }

  .teamPhoto {
    float:left;
    position:inherit;
    right: 0;
  }

  #signup{
    background-image: url('#{$assets-path}/sign-up.png');
    display: inline-block;
    float: right;
    height: 195px;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-indent: -9999px;
    top: 200px;
    width: 555px;
    cursor: pointer;
    z-index: 1000;
  }
}
