// FONTS
$font-name: 'questrialregular';
$font-file-name: 'questrial-regular-webfont';

@font-face {
  font-family: '#{$font-name}';
  src:url('#{$assets-path}/#{$font-file-name}.eot');

  src:url('#{$assets-path}/#{$font-file-name}.eot?#iefix') format('embedded-opentype'),
  url('#{$assets-path}/#{$font-file-name}.woff') format('woff'),
  url('#{$assets-path}/#{$font-file-name}.ttf') format('truetype'),
  url('#{$assets-path}/#{$font-file-name}.svg##{$font-name}') format('svg');
  font-weight: normal;
  font-style: normal;
}

$font-name: 'futura_lightregular';
$font-file-name: 'futura_light-webfont';

@font-face {
  font-family: '#{$font-name}';
  src:url('#{$assets-path}/#{$font-file-name}.eot');

  src:url('#{$assets-path}/#{$font-file-name}.eot?#iefix') format('embedded-opentype'),
  url('#{$assets-path}/#{$font-file-name}.woff') format('woff'),
  url('#{$assets-path}/#{$font-file-name}.ttf') format('truetype'),
  url('#{$assets-path}/#{$font-file-name}.svg##{$font-name}') format('svg');
  font-weight: normal;
  font-style: normal;
}

$font-name: 'futurabeyaz_italic';
$font-file-name: 'futura_beyaz_italic-webfont';

@font-face {
  font-family: '#{$font-name}';
  src:url('#{$assets-path}/#{$font-file-name}.eot');

  src:url('#{$assets-path}/#{$font-file-name}.eot?#iefix') format('embedded-opentype'),
  url('#{$assets-path}/#{$font-file-name}.woff') format('woff'),
  url('#{$assets-path}/#{$font-file-name}.ttf') format('truetype'),
  url('#{$assets-path}/#{$font-file-name}.svg##{$font-name}') format('svg');
  font-weight: normal;
  font-style: normal;
}

$font-name: 'futuraextendedregular';
$font-file-name: 'futuraextended-webfont';

@font-face {
  font-family: '#{$font-name}';
  src:url('#{$assets-path}/#{$font-file-name}.eot');

  src:url('#{$assets-path}/#{$font-file-name}.eot?#iefix') format('embedded-opentype'),
  url('#{$assets-path}/#{$font-file-name}.woff') format('woff'),
  url('#{$assets-path}/#{$font-file-name}.ttf') format('truetype'),
  url('#{$assets-path}/#{$font-file-name}.svg##{$font-name}') format('svg');
  font-weight: normal;
  font-style: normal;
}

$font-name: 'futura_bdcn_btbold';
$font-file-name: 'futura_bdcn_bt_bold-webfont';

@font-face {
  font-family: '#{$font-name}';
  src:url('#{$assets-path}/#{$font-file-name}.eot');

  src:url('#{$assets-path}/#{$font-file-name}.eot?#iefix') format('embedded-opentype'),
  url('#{$assets-path}/#{$font-file-name}.woff') format('woff'),
  url('#{$assets-path}/#{$font-file-name}.ttf') format('truetype'),
  url('#{$assets-path}/#{$font-file-name}.svg##{$font-name}') format('svg');
  font-weight: normal;
  font-style: normal;
}
