$boxReflect: below 4px linear-gradient(175deg, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0.25) 100%);


.video-player {
  margin-top: 40px;
  position: relative;
}

.video-player > .video-player-inner {
  background-color: transparent;
  margin: 0px auto;
  max-width: 610px;
  padding: 20px;
  box-shadow: $subtleShadow;
  border-radius: 5px;
}

.video-image {
  border-radius: 5px;
  content: "";
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 10;
  background-repeat: no-repeat;
  z-index: -1;
}

.home-image {
  background-image: url('#{$assets-path}/myapnea/headers/home.jpg');
}

.learn-image {
  background-image: url('#{$assets-path}/myapnea/headers/learn.jpg');
}

.share-image {
  background-image: url('#{$assets-path}/myapnea/headers/share.jpg');
}

.research-image {
  background-image: url('#{$assets-path}/myapnea/headers/research.jpg');
}

.team-image {
  background-image: url('#{$assets-path}/myapnea/headers/team.jpg');
}
