$nav-border-width: 1px;
$user-fn-height: $normal-nav-height / 2;
$nav-fn-height: $normal-nav-height - $user-fn-height - $nav-border-width;

header#top-navigation.navbar-inverse {
  background-color:$blueDark;
  height: $normal-nav-height;
  box-shadow: $subtleShadow;
  -webkit-transition: height 0.25s;
  -moz-transition: height 0.25s;
  -ms-transition: height 0.25s;
  -o-transition: height 0.25s;
  transition: height 0.25s;

  #top-nav-container {
    background-color:$blueDark;
    #myApneaLogo {
      background-image: url('#{$assets-path}/myapnea/icons/myApneaLogo.png');
      height: 100px;
      overflow: hidden;
      text-indent: -9999px;
      width: 400px;
      padding: 0;
      float: left;
      position: absolute;
      top: 20px;
      background-size: 80%;
      background-repeat: no-repeat;
      background-position: 0 -2px;
      //        -webkit-transition: all 0.5s ease-in-out;
      //        -moz-transition: all 0.5s ease-in-out;
      //        -ms-transition: all 0.5s ease-in-out;
      //        -o-transition: all 0.5s ease-in-out;
      //        transition: all 0.5s ease-in-out;
    }
  }

  .nav > li {
    color: $menuLinkColor;
    font-size: $fontSizeLarge;
  }


  .navbar-nav > li > a:hover {
    color:$linkColorHover;
    font-weight:normal;
  }

  .navbar-nav > li > a {
    padding-top:0;
    color:$menuLinkColor;
    padding:2px 0;
  }

  .navbar-nav > li > a:after:hover {
    color:$menuLinkColor;
    text-decoration: none;
  }

  .navbar ul.nav li.active a {
    background-color: $none;
  }

  .navbar ul.nav li a.currentPage {
    color: $linkColorHover;
  }

  .navbar-collapse {
    margin-left: 320px;
    #user-functions {
      height: $user-fn-height;
      border-bottom: $nav-border-width solid $borderColor;
      a {
        padding: 0;
        line-height: $user-fn-height
      }

      ul {
        float: right;
      }
    }

    #nav-functions {
      height: $nav-fn-height;

      a {
        padding: 0;
        line-height: $nav-fn-height
      }

      ul {
        float: right;
      }
    }
  }
  .navbar-collapse.collapse.in {
    margin-left: 0;
    text-align: center;

    #user-functions {
      margin-top: 55px;
      height: auto;

      ul {
        float: none;

      }
    }

    #nav-functions {
      height: auto;
      ul {
        float: none;

      }
    }
  }


}

header#top-navigation.navbar-inverse.smaller {
  // height:35px;
  height: 42px;
  -webkit-transition: height 1s;
  -moz-transition: height 1s;
  -ms-transition: height 1s;
  -o-transition: height 1s;
  transition: height 1s;

  #top-nav-container #myApneaLogo {
    height: 70px;
    background-size: 40%;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
}
