
// Head Images

.row.page-header-image {
  position:relative;
  height:360px;

}


p.lead {
  font-style:italic;
  font-size:$fontSizeLarge;
}

#carousel {
  height:360px;
  overflow:hidden;
  position: relative;
  z-index: 99;
  background:$blue;
  margin: 0 0px;
}

img.headerImg {
  margin:0 auto;
  max-height:360px;
  position: absolute;
  top: 0;
}

#signup {
  background-image: url('#{$assets-path}/myapnea/icons/sign-up.png');
  height: 195px;
  overflow: hidden;
  position: absolute;
  right: 15px;
  text-indent: -9999px;
  top: 200px;
  width: 555px;
  cursor: pointer;
  z-index: 1000;
}
