<div class="list-group">
  <div class="row">
    <div class="col-md-6">
      <h3>Your score for the Epworth Sleepiness Scale is <strong><%= @answer_session.epworth_sleepiness_scale %></strong></h3>
      <a href="http://www.epworthsleepinessscale.com/" target="_blank">Click here for more information.</a>
    </div>
  </div>


  <%= javascript_include_tag "reports/report_#{@question_flow.id}" %>
</div>