
%h3 Surveys

.panel.panel-default
  .panel-heading
    %h3.panel-title Questions
  .panel-body
    = render partial: "questions/list"
    = link_to "+ Add New Question"

.panel.panel-default
  .panel-heading
    %h3.panel-title Surveys
  .panel-body
    = render partial: "surveys/partials/list"
    = link_to "+ Create New Survey"
