
%h3 User Management

.panel.panel-default#admin-dashboard
  .panel-heading
    .btn-toolbar{role: "toolbar"}
      %form#user-search.form-inline{ role: 'form', action: admin_users_path, :style => "display: inline;" }

        .col-sm-5
          .btn-group.btn-group-sm{data: {toggle: 'buttons'}}
            %label.btn.btn-default
              %input{type: 'radio', name: 'search_role', value: ''} All Users
            %label.btn.btn-default
              %input{type: 'radio', name: 'search_role', value: 'admin'} Admins
            %label.btn.btn-default
              %input{type: 'radio', name: 'search_role', value: 'owner'} Owners
            %label.btn.btn-default
              %input{type: 'radio', name: 'search_role', value: 'moderator'} Moderators
        .col-sm-7
          .btn-group
            %input#auth-token{name: 'authenticity_token', type: "hidden", value: form_authenticity_token}
            %label.control-label.sr-only Limit by user email
            .input-group
              %input.form-control{type: 'search', placeholder: 'Search by Email', name: 'search', value: params[:search]}
              %span.input-group-btn
                %button.btn.btn-default{type: "submit", value: ""} Search



  .table-responsive
    %table.table#role{data: {add_target: add_role_path, remove_target: remove_role_path, destroy_target: destroy_user_path}}
      %thead
        %tr
          %th
            User
          %th
            Role

      %tbody
        - @users.each do |user|
          %tr.user{data: {user_id: user.id}}
            %td= user.email
            %td
              - user.roles.each do |role|
                %span.label.label-default{:style => "margin-right: 5px;"}
                  = role.name.titleize
                  %a.remove-role{data: {role: role.name}, :style => "color: inherit;"}
                    %i.fa.fa-times

              / Single button
              .btn-group.pull-right
                %button.btn.btn-primary.btn-xs.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
                  Action
                  %span.caret
                %ul.dropdown-menu{role: "menu"}
                  %li
                    %a.add-role{href: "#", data: {role: 'admin'}} Make Admin
                  %li
                    %a.add-role{href: "#", data: {role: 'owner'}} Make Owner
                  %li
                    %a.add-role{href: "#", data: {role: 'moderator'}} Make Moderator
                  %li.divider
                  %li
                    %a.add-role{href: "#", data: {role: 'research_team'}} Add to Research Team
                  %li
                    %a.add-role{href: "#", data: {role: 'patient_team'}} Add to Patient Team
                  %li
                    %a.add-role{href: "#", data: {role: 'tech_team'}} Add to Tech Team
                  %li.divider
                  %li
                    %a.delete-user{href: "#"} Delete User




