- @title = "About CCFA Partners"

%h2= @title
%hr/

%p CCFA Partners is an ambitious new program designed to improve the quality of life for patients with inflammatory bowel disease (IBD) through research and education. We plan to enroll 10,000 or more patients in an online registry to help us obtain a better understanding of issues facing IBD patients, how patients are functioning, what they eat, and how they receive treatment in different areas of the country. We will use the CCFA Partners network to provide topics for patients to discuss with their physicians to improve their quality of life.

%p CCFA Partners is a research initiative, not a fund-raising effort. By joining, you will not be asked for monetary contributions. We only ask that you complete a short online survey twice a year on your health history.

%p To be eligible to participate, you must have been diagnosed with Crohn’s disease or ulcerative colitis. If you choose to participate, we will ask you to provide detailed information about your disease and treatment. Then, we will contact you every three months to let you know about the progress of the program and to provide information about IBD. Every six months we will ask you to update your medical information. From time to time we may let you know about new research studies for which you might be eligible. It is completely up to you to participate in such studies at that time.

%p Completing the initial confidential survey should only take 20-30 minutes of your time. The survey can be done all at once or over time - it doesn't have to be done in one sitting. The web survey is implemented by the CCFA Data Management Center at the University of North Carolina at Chapel Hill (UNC). Your e-mail address will be tied to your survey so we can contact you in the future when it is time for a followup. Your information is kept completely confidential on UNC'’s secure servers, and is only accessible through your unique email address.

%p All questions are optional -- you don't have to answer any questions that you don't want to answer. You can withdraw from the study at any time. We will not associate you with any responses in any reports of survey results. We will not release your information to others without your permission. There is no cost to you and there is no compensation for taking the survey.

%p If you are a patient with IBD, we hope you will consider helping us. We believe this project has excellent long-term potential to improve our understanding of the impact of IBD. If you are not a patient, please pass along the information about CCFA Partners to a loved one or friend you may know who lives with IBD and wants to contribute to research aimed at improving the quality of life of IBD patients.