- @title = "About CCFA"

%h2= @title
%hr/

The Crohn's & Colitis Foundation's mission is to cure Crohn's disease and ulcerative colitis, and to improve the quality of life of children and adults affected by these diseases. The Foundation ranks third among leading health non-profits in the percentage of expense devoted to research toward a cure, and more than 80 cents of every dollar the Foundation spends goes to mission-critical programs. The Foundation consistently meets the standards of organizations that monitor charities, including the Better Business Bureau's Wise Giving Alliance (give.org) and the American Institute of Philanthropy (charitywatch.org). For more information, visit www.ccfa.org