- @title = "About CCFA Partners Kids & Teens"

%h2= @title
%hr/

%p We are excited to launch CCFA Partners Kids & Teens, a parallel study of childhood IBD. Nearly one fourth of individuals with IBD are diagnosed during the childhood or teenage years. Special consideration must be given to pediatric IBD patients who are undergoing rapid physical and mental growth and development. The effects of the disease and treatment in this population need to be better understood.

%p The goal of CCFA Partners Kids & Teens is to create a long-term community of patients who are engaged in research. This important study will focus on aspects of IBD that are most important to patients and their parents, including health behaviors, disease symptoms, and quality of life. The entire study takes place over the internet.

%p CCFA Partners is a research initiative, not a fund-raising effort. By joining, you will not be asked for monetary contributions. We only ask that you complete a short online survey twice a year on your health history.

%p To be eligible to participate, a child or teenager must have been diagnosed with Crohn's disease or ulcerative colitis. If you choose to participate, we will ask you to provide detailed information about your disease and treatment. Then, we will contact you every three months to let you know about the progress of the program and to provide information about IBD. Every six months we will ask you to update your medical information. From time to time we may let you know about new research studies for which you might be eligible. It is completely up to you to participate in such studies at that time. Completing the initial confidential survey should only take 20-30 minute. There are sections for both the parent and the child to complete. The survey can be done all at once or over time - it doesn't have to be done in one sitting.

%p All questions are optional -- you don't have to answer any questions that you don't want to answer. You can withdraw from the study at any time. We will not associate you with any responses in any reports of survey results. We will not release your information to others without your permission. There is no cost to you and there is no compensation for taking the survey. The web survey is implemented by the CCFA Data Management Center at the University of North Carolina at Chapel Hill (UNC). Your information is kept completely confidential on UNC's secure servers.

%p If you are a child or teenager with IBD or the parent of a child or teenager with IBD, we encourage you to help us. We believe this project has excellent long-term potential to improve our understanding of the impact of IBD. If you are not a patient, please pass along the information about CCFA Partners to a loved one or friend you may know who lives with IBD and wants to contribute to research aimed at improving the quality of life of IBD patients.