- @title = "FAQ (Frequently Asked Questions)"

%h2= @title
%hr/

%h3.question What is CCFA Partners?

.answer
  %p CCFA Partners is a new and exciting program that partners CCFA with IBD patients in an online community. By using the Internet we can rapidly and efficiently collect information on IBD patients from across the country in order to learn about the impact and health status of IBD patients.

  %p The registry will focus on the health of IBD patients, their diet, prevention activities, and current treatment. By focusing on reports directly from patients, this initiative will be an important addition to many of the other clinical research projects supported by the CCFA that have relied mainly on reports from physicians.

  %p Over time we will also provide you with tips for better health and prevention of complications that you can share with your doctor to see if they are right for your situation. We may ask you if you'd like to be part of other special surveys or research studies.

%h3.question What do I have to do to participate?

.answer
  %p Participation is simple. You'll complete a brief online survey about your condition and treatment, diet, physical activity, disease activity, quality of life and health status. Every six months we will ask to update your information in another Internet survey. If your e-mail address changes we hope that you will let us know.

%h3.question How much does it cost?

.answer
  %p Participation is free. There is no cost to you. This is not a fundraising effort although we hope that you will continue to support the CCFA and the important work of the foundation.


%h3.question Can I opt out?

.answer
  %p
    Participation is voluntary, but we hope as many people as possible will participate. The more participants, the more we will learn about IBD and the more we will be able to help people with IBD to live healthy and happy lives. Once you join the partnership you can opt out at any time. Please click
    =link_to "here", "https://cgibd.med.unc.edu/ccfapartners/contact.php"
    and let us know.


%h3.question I have friends or relatives with IBD. Can they join?

.answer
  %p Participation is open to anyone with IBD. Interested IBD patients can go to our website --- www.ccfapartners.org --- and join.


%h3.question Do I have to answer all the questions?

.answer
  %p The questions are generally straightforward and about your disease characteristics, but if any questions make you uncomfortable or if you don't want to answer a question, you can skip it.


%h3.question How long does the survey take?

.answer
  %p The initial survey should take about 20 minutes. The length will depend, in part, on your disease type and treatment. Once you start a survey it will remain open for 24 hours, so you can come back later to complete it.


%h3.question Is the information safe?

.answer
  %p Although we collect your name, address and email, we will not share any information without your permission. You will only be able to access your information through your email, and you will need to re-identify yourself if you forget your email. Reports about the survey will not identify any individual --- we will just provide summary data. The computer server that stores the data is housed in a very secure location at the University of North Carolina.


%h3.question How will my information be used?

.answer
  %p The information you give us through the surveys will be studied by CCFA researchers. Researchers will study quality of life, complications and how patients with IBD feel when living with the disease. The researchers hope to improve outcomes and prevent complications. The information that you contribute ultimately will help in reaching the goal of more rapid research progress, better treatments and ultimately, the cures we need.


%h3.question What are the risks?

.answer
  %p The only possible risk in participating in CCFA Partners is loss of privacy. However, the information you give to CCFA Partners is stored in a safe and secure location at the University of North Carolina. There are safeguards and passwords in place to prevent loss of privacy.


%h3.question What do I get for participating?

.answer
  %p You do not receive compensation for participating in CCFA Partners. You will receive health tips and important information about your IBD and your health, which can be shared with your doctor.


%h3.question What if I have more questions?

.answer
  %p
    If you have questions about IBD you can contact the CCFA by phone at 888-694-8872 or by email at info@ccfa.org. If you have questions or comments about the survey, please click
    = link_to "here.", "https://cgibd.med.unc.edu/ccfapartners/contact.php"


%h3.question I'd like to help. What do I do?

.answer
  %p
    We really need your help to build a patient registry for Crohn's and colitis patients. We couldn't do it without the support and consideration of people like you. Please follow this link to
    = link_to "REGISTER.", "https://cgibd.med.unc.edu/ccfapartners/registeremail.php"


%h3.question Can I set my own password?

.answer
  %p Our system generates unique password for you automatically. These are embedded in the links included in our emails to you. However, you may set your own password by clicking [ Account ] link on the top of the screen after you login.


%h3.question Do I need my password to take Partners surveys?

.answer
  %p Your password is included in the emails we will send you when it is time to take the baseline or followup survey, or when we send you a reminder to complete a survey you did not finish. These links in your email automatically log you on to your survey.


%h3.question What if I lost my email with the link to my survey?

.answer
  %p
    You can enter the email address you registered with us and we will send you a new link
    = link_to "here.", "https://cgibd.med.unc.edu/ccfapartners/continue.php"


%h3.question What if I have more than one email address?

.answer
  %p You can give us alternate email addresses, but only one address can serve as your primary (registered) address. By giving us your alternate addresses, we can make sure you don't get multple copies of our email reminders; they will always go only to your primary address.


%h3.question I received more than one email to join CCFA Partners. Why?

.answer
  %p Each email address on file with CCFA received an invitation, so if you had more than one email address with CCFA, you received multiple invitations. To prevent this, please provide Partners with your alternate email addresses so we will know you are the same person.


%h3.question What should I do if I have a technical problem?

.answer
  %p
    If you have technical problems, please click
    =link_to "here.", "https://cgibd.med.unc.edu/ccfapartners/help/techhelp.php"






-# CCFA Partners Brochure



-# Frequently Asked Questions for CCFA Partners Kids & Teens

-# What do I have to do to participate?

-# Participation is simple. You and your child will complete a brief online survey about your child's condition and treatment, diet, physical activity, disease activity, quality of life and health status. Every six months we will ask you and your child to update the information in another internet survey.

-# My child will be 18 soon. What happens next?

-# When Kids & Teens participants turn 18, they are no longer eligible for the study. They are, however, still able to participate in CCFA Partners and will be invited to do so. If you have IBD and are currently over age 18, please register with CCFA Partners here.

-# Do parents and kids have to sign up together?

-# Parents and children do not have to physically be together to enroll and complete the questionnaire. Both the parent and the child have to agree to the study, but they may do so separately and at different times. We do recommend that parents and children sit together to complete the questionnaires in case questions arise, however it is not necessary.

-# What is the RISK Study? Can I sign up for that too?

-# RISK is a CCFA funded research study that collects data and biosamples from pediatric IBD patients. The Risk study is currently closed to new enrollment. If you are already participating in RISK, we will ask if it's ok for us to link the data and samples you gave with information you give to us. You do not have to say yes; it is voluntary to link the information. If you are unsure of whether or not you are participating in the Risk study, please check with your doctor or the research coordinator at your hospital.

-# Can both parents complete surveys?

-# Absolutely. However, only one completed survey can be submitted. Parents may complete the survey together, or parents can login at different times to work on the survey. We recommend you decide as a family what the password will be so everyone can log in and help out. The child (if applicable) will use the same login and password as the parent.

-# Can I complete the survey for my child?

-# If your child is of age to complete a survey, you may complete it on your child's behalf if your child has a medical disability preventing him or her from completing it alone. You may always help your child, and we do recommend that the surveys be completed together as a family.

-# I'm getting reminders to complete my registration, but I know I already consented. What's going on?

-# There are several steps to completing registration. Although you may have provided consent, maybe the child or the parent hasn't completed the consent process. Log in to see the progress of the registration.

-# How much does it cost?

-# Participation is free. There is no cost to you. This is not a fundraising effort although we hope that you will continue to support the CCFA and the important work of the foundation.

-# Can I opt out?

-# Participation is voluntary, but we hope as many people as possible will participate. The more participants, the more we will learn about IBD and the more we will be able to help people with IBD to live healthy and happy lives. Once you join the partnership, you can opt out at any time. Please click here to let us know.

-# I have friends or relatives with IBD. Can they join?

-# Participation is open to anyone with IBD. Interested IBD patients can go to our website --- ccfapartners.org/ccfapeds/ --- and join.

-# Do I have to answer all the questions?

-# The questions are generally straightforward and about your child's health and daily activities, but if any question makes you or your child uncomfortable or if you don't want to answer a question, you can skip it.

-# How long does the survey take?

-# The initial survey should take about 20 minutes. Once you start a survey it will remain open for 24 hours, so you can come back later to complete it.

-# Is the information safe?

-# Although we collect your child's name and your email addresses, we will not share any information without your permission. You will only be able to access your information through a personalized login page. Reports about the survey will not identify any individual --- we will just provide summary data. The computer server that stores the data is housed in a very secure location at the University of North Carolina.

-# How will my information be used?

-# The information you give us through the surveys will be studied by CCFA researchers. Researchers will study quality of life, complications and how patients with IBD feel when living with the disease. The researchers hope to improve outcomes and prevent complications. The information that you contribute ultimately will help in reaching the goal of more rapid research progress, better treatments and, ultimately, the cures we need.

-# What are the risks?

-# The only possible risk in participating in CCFA Partners Kids & Teens is loss of privacy. However, the information you give to CCFA Partners Kids & Teens is stored in a safe and secure location at the University of North Carolina. There are safeguards and passwords in place to prevent loss of privacy.

-# What do I get for participating?

-# You do not receive compensation for participating in CCFA Partners Kids & Teens. You will receive health tips and important information about your IBD and your health, which can be shared with your doctor.

-# What if I have questions about CCFA?

-# If you have questions about IBD you can contact the CCFA by phone at 888-694-8872 or by email at info@ccfa.org.

-# What if I have questions about CCFA Partners Kids & Teens?

-# Michael Kappelman, MD at the University of North Carolina at Chapel Hill is conducting this study. If you have questions or comments about the survey, please fill out an online form here to reach a coordinator at UNC who will be able to help you. You may also call Beth Jaeger, project manager at 919-843-1297.

-# I'd like to help. What do I do?

-# We really need your help to build a patient registry for Crohn's and colitis patients. We couldn't do it without the support and consideration of people like you. Please follow this link to REGISTER.

-# What should I do if I have a technical problem?

-# If you have technical problems, please click HERE.



-# CCFA Partners Brochure