- @title = "Research Team"

%h2= @title
%hr/

%h2 CCFA Partners Executive Committee

%ul
  %li Raymond Cross, MD, University of Maryland, Chair of the CCFA Patient Education Committee
  %li Laura Wingate, CCFA, Vice President, Patient and Professional Services
  %li Neera Gupta, MD, MAS, University of California, Co-chair, CCFA Pediatric Affairs Committee
  %li Peter Higgins, MD, PhD, MSc, University of Michigan, Co-Chair, CCFA Clinical Research Alliance
  %li Sue Johnson, Lay Representative
  %li Tania Kamphaus, PhD, MSc, CCFA, Director Collaborative Research Projects
  %li Michael Kappelman, MD, MPH, University of North Carolina, Co-Investigator CCFA Partners
  %li James Lewis, MD, MSCE, University of Pennsylvania, Chair, NSAC
  %li Millie Long, MD, MPH, University of North Carolina, Co-Investigator CCFA Partners
  %li Rob McCabe, MD, Minnesota Gastroenterology PA, Private Practice Representative
  %li Marjorie Merrick, CCFA, VP Research and Scientific Programs
  %li Laura Raffals, MD, Mayo Clinic, Academic Practice Representative
  %li Robert S. Sandler, MD, MPH, University of North Carolina, Principal Investigator CCFA Partners
  %li Scott Snapper, MD, Boston Children's Hospital, CCFA NSAC

%h2 CCFA Partners Researchers

%p Robert S. Sandler, MD, MPH is the lead investigator for CCFA Partners. He is the Nina C. and John T. Sessions Distinguished Professor of Medicine at the University of North Carolina. Although his research is primarily related to the etiology and prevention of colorectal cancer, he also has a longstanding research interest in IBD. He directs the Data Management Center for CCFA's Clinical Alliance and is a former member of CCFA's National Scientific Advisory Committee. Dr. Sandler is the former President of the American Gastroenterological Association.

%p Michael D. Kappelman, MD, MPH is a co-investigator for CCFA Partners. Currently an Assistant Professor of Pediatrics at the University of North Carolina, Dr. Kappelman is a pediatric gastroenterologist with both clinical and research interests in inflammatory bowel diseases. Dr. Kappelman's research focuses on both quality of care and the etiology and treatment of IBD. He has been awarded a career development award from CCFA, is a member of CCFA's Pediatric Affairs Committee, and is the physician liaison for the national CCFA Camp Oasis program.

%p Millie D Long, MD, MPH is a co-investigator for CCFA Partners. She is Assistant Professor of Medicine at the University of North Carolina in the Division of Gastroenterology and Hepatology. She has both clinical and research interests in IBD. She is additionally board certified in preventive medicine and has published several research articles on the prevention of complications in patients with IBD. She has been awarded a junior faculty career development award from CCFA and has served on CCFA's Quality Improvement Literature Review Committee.

%p Kristen Anton, MS is the Director of BioInformatics for the CCFA Partners Informatics Center at the University of North Carolina. She is involved with many efforts - local, national and international - concerning data standards, data capture, data sharing and management for biomedical studies. Kristen's groups at UNC and Dartmouth Medical School collaborate on more than 45 research registries, clinical trials and prevention studies. Kristen has a personal interest in computational biology and molecular epidemiology. Her teaching includes lectures on database theory, biological databases and computational biology.

%p Christopher Martin, MSPH is the Director of Epidemiology and Analysis for the Data Management Center at the University of North Carolina at Chapel Hill. Also an assistant professor of Medicine in the Division of Gastroenterology and Hepatology at UNC, he brings his training in epidemiology and expertise in informatics to the planning, execution and analysis of research on inflammatory bowel diseases and other chronic digestive conditions. He has special expertise in the conduct of multicenter studies, particularly studies using the Internet to collect high quality data.

%p Elizabeth L. Jaeger is the Project Director for CCFA Partners. In this capacity, she manages the ongoing development and implementation of the CCFA Partners project and ensures that guidelines for proper research are followed. She has many years of experience in project management at the University of North Carolina including such diverse studies as Genetic by context influence on trajectories of adolescent aggression and Enhancing Rural Online Learning.

%p Joseph A. Galanko, PhD is a biostatistician for CCFA Partners. Currently Dr. Galanko is an Assistant Professor of Medicine at the University of North Carolina, whose research involves applied statistics in medical settings, case-control studies, regression modeling, survival analysis and gene-environment interaction analyses. He is the Co-Director of the Biostatistics Core for the Center for Gastrointestinal Biology and Disease, and the biostatistician for the Clinical Nutrition Research Center.

%p Wenli Chen, MS, MA is systems analyst and developer for CCFA Partners. Working with CCFA Partners investigators to translate information needs into technical deliverables, she ensures that project investigators are able to collect valuable patient information and conduct the best analyses on that data. She has 20 years of system development and data analysis experience with broad and advanced technologies, with an eye toward developing robust, secure, and user-friendly systems.