%h2 Terms of Use

%p Thank you for expressing interest in participating in CCFA Partners, a patient-centered long-term registry study.  “Patient-centered research” means that patients and the IBD research community partner with each other and work as a team.  Your input as a patient is critical to the research process.  Working together, patients and scientists hope to improve the quality of life for patients with IBD through sharing information and conducting research.

%p By joining CCFA Partners you can contribute to IBD research by completing surveys and providing additional data to help all of us better understand the impact of IBD on patients and the factors that affect the course of the disease. You will also be able to make and vote on research suggestions and team up with researchers to answer important questions about IBD.  In addition, you will be able to use our website to track your health trends and see how your treatments and IBD status compare to that of others in the network.

%p Here’s what you can expect.

%p If you choose to participate, we will ask you to provide information about your disease and treatment by completing online surveys.  If you do not feel comfortable answering a survey question, you do not have to answer it. You will also have the option, if you want, to connect a variety of mobile health applications (e.g. Fitbit, Jawbone, etc.) to our patient centered network.

%p We will touch base with you periodically to let you know about the progress of the program and to provide information about IBD. You can log on to our website to view up-to-date information about the study and update and track your health status.  Every 6 months, we will ask you to provide an update about your treatments and health. From time to time, we will let you know about additional research studies for which you might be eligible. You can accept or decline participation at that time.
Here’s what we’ll do.

%p We will work diligently to protect the health data we collect from you during this study. We will not release your contact information to anyone at any time without your permission. Identifiers, such as your name and address, will not be used in research and will be maintained securely. All research studies using data from the network must first undergo review and approval by a project selection committee of expert scientists and IBD patients.  Counts of patients who meet certain criteria, are sometimes needed to assist in planning studies.  At times we will make this aggregate count data available to qualified researchers prior to committee review.

%p We will not sell your data to drug companies for market research. Before sending any de-identified information to industry investigators (e.g., a researcher funded by a pharmaceutical company), we will always notify you and give you the opportunity to opt out.

%p You will be able to view the names of researchers who have been granted access to your de-identified data along with a description of the particular research study on the network website.  We will also notify you about research findings published in abstracts and scientific papers that utilized your data.

%p Here’s what you need to know as you get started.

%p Completing the confidential baseline survey should only take 20-30 minutes of your time. The survey is implemented by the CCFA Data Management Center at the University of North Carolina at Chapel Hill (UNC). Your email address is linked to your survey so we can contact you in the future. Your information is kept completely confidential on UNC’s secure servers. For details please click here to see our Privacy Policy and Data Security Measures.

%p Keep in mind all questions are optional; that is, you don’t have to answer any questions that you don’t want to answer. You can withdraw from the study at any time. We will not associate you with any response in any reports of survey results. There is no cost to you and there is no compensation for taking the survey.

%p Again thank you for helping us. We believe this project has excellent long-term potential to improve our understanding of IBD.

%p
  Sincerely,
  %br/
  Robert S. Sandler, MD, MPH
  %br/
  Principal Investigator, CCFA Partners
  %br/