%form.form-inline{role: 'form'}
  .form-group.has-feedback
    %label.control-label.sr-only Limit by user email
    %input.form-control{type: 'search', placeholder: 'User Email'}/
    %i.glyphicon.glyphicon-search.form-control-feedback

.table-responsive
  %table.table.table-condensed
    %thead
      %tr
        %th User Email
        %th Roles
    %tbody
      - users.each do |user|
        %tr
          %td= user.email
          %td
            - user.roles.each do |role|
              %span.label.label-success
                = role.name
                %span.glyphicon.glyphicon-remove
            %button.btn.btn-primary.btn-xs.pull-right{type: "button"}
              %span.glyphicon.glyphicon-plus
              Add
