#coming-soon
  .background
  .content
    %h1 This feature is not quite ready...
    %h1 But you can help us build it!

    %h1
      Just click on the
      %a.u-voice User Voice bubble
      and send us your ideas and feedback.
