.panel.panel-primary
  .panel-heading
    Community Contributions
  .panel-body.text-right
    .row
      - if scores.count <= 3
        - scores.each do |label, value|
          .col-sm-4.col-xs-6
            = label
            %br/
            %span.h0= pprn_number_to_human(value)
      - elsif scores.count >= 4
        - scores.each do |label, value|
          .col-sm-3.col-xs-6
            = label
            %br/
            %span.h0= pprn_number_to_human(value)

