
.list-group
  %a.list-group-item{href: data_learn_path, class: "#{"active" if action_name == "data_learn"}"} Introduction
  %a.list-group-item{href: connections_path, class: "#{"active" if action_name == "connections"}"} My Data Connections
  %a.list-group-item{href: data_path, class: "#{"active" if action_name == "data"}"} My Health Data
  %a.list-group-item{href: data_reports_path, class: "#{"active" if action_name == "data_reports"}"} My Reports

-# Description of this section
/ .small
/   %p Patients participate in a research democracy, ask and help solve research questions through contributing data and answers to questions. Fusce erat velit, luctus at tempor non, hendrerit sit amet ligula. Praesent quis eleifend magna.
