%ul.list-group
  %li.list-group-item.tip{"data-toggle" => "tooltip", "data-placement" => "left", "title" => "Well done!!"}
    .media
      %a.pull-left{:href => "#"}
        %span.fa-stack.fa-lg.media-object{:style => "color: red;"}
          %i.fa.fa-circle.fa-stack-2x
          %i.fa.fa-heart-o.fa-stack-1x.fa-inverse
      .media-body
        %h1.media-heading
          900
          %small Karma
  %li.list-group-item.tip{"data-toggle" => "tooltip", "data-placement" => "left", "title" => "Well done!!"}
    .media
      %a.pull-left{:href => "#"}
        %i.fa.fa-certificate.media-object.badger{:style => "color: gold;"}
      .media-body
        %h1.media-heading
          6/20
          %small Badges: