.panel.panel-default
  .panel-heading
    %h3.panel-title Notifications


  %ul.list-group.small
    - notifications.each do |notification|
      %li.list-group-item
        %small
          %strong notification.post_date
        %br/
        - if notification.title.present?
          %h4= notification.title
        markdown notification.body
        - if editable
          %button.btn.btn-danger.btn-xs.pull-right Delete
          .clearfix
    .text-center.small
      = link_to "Show More...", "#" if notifications.present?

    - if editable
      = render partial: 'shared/posts_form', locals: { type: :notification }



