.progress
  .progress-bar.progress-bar-success{style: "width: 35%"}
    %span.sr-only 35% Complete (success)
  .progress-bar.progress-bar-warning.progress-bar-striped{style: "width: 20%"}
    %span.sr-only 20% Complete (warning)
  .progress-bar.progress-bar-danger{style: "width: 45%"}
    %span.sr-only 10% Complete (danger)