.panel.panel-default
  %table.table.table-hover.table-responsive
    %tbody
      - research_questions.map {|qs| qs[:question]}.each do |question|
        %tr
          %td
            %h4
              %i.fa.research-star{class: checkbox_class(question)}
          %td
            %h2= question.rating
          %td
            %br/
            %h4
              = link_to question.text, view_research_question_path(question)
          - if editable
            %td
              %br/
              = link_to "Delete", destroy_research_question, class: "btn btn-danger btn-xs pull-right"
              .clearfix
