- [["Research Team", User.with_role(:research_team)], ["Patient Team",User.with_role(:patient_team)]].each do |title,team|
  .panel.panel-default
    .panel-heading
      %h3.panel-title= title

    - team.each do |user|
      .panel-body
        .media
          %a.pull-left
            = image_tag user.photo_url, :class => " media-object img-circle user-avatar" if user.photo_url
          .media-body.small
            %strong
              = user.name
            %p
              = "Title"