
- if editable
  .panel.panel-default
    .panel-body

      %h5 Add New Blog Post
      .media
        %a.pull-left
          = image_tag "#", :class => " media-object img-circle", :width => "80px"
        .media-body
          %form{role: "form"}
            %select.form-control
              %option Mike Kappelman

            %h4.media-heading
              %input.form-control{:type=>"text", :value => "Title of Blog Post"}
            %textarea.form-control{:placeholder => "Your Blog Post Here"}
            %button.btn.btn-success.btn-sm.pull-right Post
            .clearfix

- 3.times do
  .panel.panel-default
    .panel-body
      .media
        %a.pull-left
          = image_tag "kappelman.jpg", :class => " media-object img-circle", :width => "80px"
        .media-body
          %a{:href=>"/blog"}
            %h4.media-heading Usu movet oporteat apeirian
          %p
            Tritani oporteat singulis eu vim. Ne pri odio ponderum vituperatoribus, ea reque regione urbanitas vim. Legere minimum vim an. Nemore graecis consectetuer ad qui, ut mei feugiat appareat. Fabulas molestie ullamcorper ut duo, id vis ipsum ridens utamur, et per laudem commune. Omittam reprimique consequuntur has et, movet civibus forensibus sed ex.
          %p
            Noluisse tacimates interesset eu cum, consulatu imperdiet intellegebat cum ei, id nec erat cotidieque. Offendit eloquentiam ei nec. Perfecto petentium ad duo, ad nec minim scripta, id nam choro democritum disputationi. Cu his saepe prompta, idque soluta appellantur mel ex, diceret detracto sed no. Sit aeterno tibique mediocritatem te, te mea dico assentior, et soluta vocent sit.
          %p
            Eos sint labores honestatis cu, nulla percipitur mei an. Ex sit quaestio ocurreret conceptam, soleat quidam eam eu. Mel no quodsi facilis, est et ferri primis ullamcorper, ius reque animal definitiones ne. Mei ei utinam graeci, facete placerat invenire pri ad.
          %p
            Ad malis everti mel, soleat comprehensam sit at. Per in eripuit voluptaria. Vix quem tibique eu. Ius nisl corpora iudicabit eu, at iudico phaedrum usu. Ea unum omnium habemus ius, no mea graeci gubergren quaerendum. Nobis congue mentitum ad mea, vis vide verear oporteat cu, tota deleniti voluptatum id vim. At nam corpora splendide, eam saepe lobortis gubergren ex, vix ea novum consectetuer interpretaris.
          %p
            An ius antiopam torquatos. Id eirmod debitis sed, has possim prompta luptatum et, mazim dicit civibus at est. Alii exerci posidonium ut duo, eos possit prompta no. Est ut erat natum, facilisi philosophia has in. Eu saepe dictas qui, ad platonem euripidis conceptam pri, pri id dictas recusabo. Pro probo noluisse signiferumque et.
          %p
            Eu essent dolores pertinacia mel, probo option qui no, suas primis vivendum ea eam. Eum etiam appetere platonem ex, per nihil denique ea. Accusam rationibus no eos, sed impetus expetenda omittantur te. Ne perfecto scripserit his, ei nusquam intellegam ius, antiopam recteque intellegebat ne nam.

          - if editable
            %button.btn.btn-danger.btn-xs.pull-right Delete
            %button.btn.btn-warning.btn-xs.pull-right Edit
            .clearfix
