.panel.panel-default
  .panel-heading
    %h3.panel-title Notifications


  %ul.list-group.small

    - if editable
      %li.list-group-item
        %h5 Add a New Notification
        %form{role: "form"}
          .form-group
            %input.form-control{:type=>"date", :value => Date.today}
          .form-group
            %textarea.form-control{:placeholder => "Your Notification Here (Character Limit: 300)"}
          .form-group
            %input.form-control{:type=>"text", :placeholder => "URL to link to (optional)"}
          %button.btn.btn-success.btn-sm.pull-right Post
          .clearfix


    / %li.list-group-item
    /   .alert.alert-warning
    /     %a{:href => blog_path}
    /       %strong New Blog Post


    %li.list-group-item
      %small
        %strong 4/28/14
      %br/
      Survey Results for the SCD Survey have been posted.

      - if editable
        %button.btn.btn-danger.btn-xs.pull-right Delete
        .clearfix


    %li.list-group-item
      %small
        %strong 4/23/14
      %br/
      New Insights have been added around patient gender.

      - if editable
        %button.btn.btn-danger.btn-xs.pull-right Delete
        .clearfix

    %li.list-group-item
      %small
        %strong 4/1/14
      %br/
      You can now import your EHR data.

      - if editable
        %button.btn.btn-danger.btn-xs.pull-right Delete
        .clearfix


    %li.list-group-item
      %small
        %strong 4/28/14
      %br/
      Survey Results for the SCD Survey have been posted.

      - if editable
        %button.btn.btn-danger.btn-xs.pull-right Delete
        .clearfix


    %li.list-group-item
      %small
        %strong 4/23/14
      %br/
      New Insights have been added around patient gender.

      - if editable
        %button.btn.btn-danger.btn-xs.pull-right Delete
        .clearfix

    %li.list-group-item
      %small
        %strong 4/1/14
      %br/
      You can now import your EHR data.

      - if editable
        %button.btn.btn-danger.btn-xs.pull-right Delete
        .clearfix

    %li.list-group-item
      %small
        %strong 4/23/14
      %br/
      New Insights have been added around patient gender.

      - if editable
        %button.btn.btn-danger.btn-xs.pull-right Delete
        .clearfix

    %li.list-group-item
      %small
        %strong 4/1/14
      %br/
      You can now import your EHR data.

      - if editable
        %button.btn.btn-danger.btn-xs.pull-right Delete
        .clearfix


    %li.list-group-item
      %small
        %strong 4/28/14
      %br/
      Survey Results for the SCD Survey have been posted.

      - if editable
        %button.btn.btn-danger.btn-xs.pull-right Delete
        .clearfix




  .panel-footer{:style=> "padding: 0px; padding-top: 5px;"}
    .text-center.small
      = link_to "Show More...", "#"



