.panel.panel-default
  .panel-heading
    %h3.panel-title Research Team

  .panel-body
    .media
      %a.pull-left
        = image_tag "kappelman.jpg", :class => " media-object img-circle user-avatar"
      .media-body.small
        %strong
          Mike Kappelman
        %p
          Researcher, GI


.panel.panel-default
  .panel-heading
    %h3.panel-title Patient Counsel


  %ul.list-group
    %li.list-group-item
      .media
        %a.pull-left
          = image_tag "default-user.jpg", :class => "media-object img-circle user-avatar"
        .media-body.small
          %strong
            Jessica Burriss
          %p
            Crohn's Patient
