
.row
  .col-md-12

    %ul.nav.nav-tabs
      %li.active
        %a{href: "#user", "data-toggle" => "tab"} User Account
      %li
        %a{href: "#health_info", "data-toggle" => "tab"} Health Info
      %li
        %a{href: "#social_profile", "data-toggle" => "tab"} Social Profile
    %br/


    .nav.tab-content



      .tab-pane#social_profile
        .col-md-9
          %form.form-horizontal{role: "form"}
          .alert.alert-info
            .radio
              %label
                %input#optionsRadios2{name: "optionsRadios", type: "radio", value: "option2"}/
                %strong
                  Be Social.
                Share the below information with other patients on the site.

            .radio
              %label
                %input#optionsRadios1{checked: "checked", name: "optionsRadios", type: "radio", value: "option1"}/
                %strong
                  Don't be Social.
                Do not show to anyone that I'm on this site.


          .panel.panel-default
            .panel-body
              %form.form-horizontal{role: "form"}
                .form-group
                  %label.col-sm-2.control-label
                    %img.img-circle.center-block{:src => "http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest('seanahrens@gmail.com')}?d=identicon", :style => "margin-right: 10px;"}
                  .col-sm-10
                    %p
                      %strong
                        Upload New
                    %input{:type => "file"}

              %form.form-horizontal{role: "form"}
                .form-group
                  %label.col-sm-2.control-label Name
                  .col-sm-6
                    %input.form-control{:type=>"text", :value => "Sean Ahrens"}
                .form-group
                  %label.col-sm-2.control-label Location
                  .col-sm-6
                    %input.form-control{:type=>"text", :value => "San Francisco, CA, USA"}
                .form-group
                  %label.col-sm-2.control-label Age
                  .col-sm-6
                    %input.form-control{:type=>"text", :value => "28"}
                .form-group
                  %label.col-sm-2.control-label Gender
                  .col-sm-6
                    %input.form-control{:type=>"text", :value => "Male"}

              %a.btn.btn-primary.pull-right{:href => "javascript:history.back()"} Save

      .tab-pane#health_info
        .col-md-9
          .panel.panel-default
            .panel-heading
              %h3.panel-title Health Info
            .panel-body
              .row
                .col-md-6
                  %form.form-horizontal{role: "form"}
                    .form-group
                      %label.col-sm-4.control-label Name
                      .col-sm-8
                        %input.form-control{:type => "text"}
                    %hr/
                    .form-group
                      %label.col-sm-4.control-label Condition
                      .col-sm-8
                        %input.form-control{placeholder: "Crohn's, Colitis, Other", type: "text"}/
                    .form-group
                      %label.col-sm-4.control-label Current Disease Status
                      .col-sm-8
                        %input.form-control{:type => "text"}
                    .form-group
                      %label.col-sm-4.control-label Date of Diagnosis
                      .col-sm-8
                        %input.form-control{:type => "date"}
                    .form-group
                      %label.col-sm-4.control-label Date of First Symptoms
                      .col-sm-8
                        %input.form-control{:type => "date"}
                    %hr/
                    .form-group
                      %label.col-sm-4.control-label Date of Birth
                      .col-sm-8
                        %input.form-control{:type => "date"}
                    .form-group
                      %label.col-sm-4.control-label Sex
                      .col-sm-8
                        %input.form-control{:type => "text"}
                    %hr/
                    .form-group
                      %label.col-sm-4.control-label Current Treatments
                      .col-sm-8
                        %textarea.form-control
                    .form-group
                      %label.col-sm-4.control-label Treatments Taken in Past
                      .col-sm-8
                        %textarea.form-control


                  %a.btn.btn-primary.pull-right{:href => "javascript:history.back()"} Done



      .tab-pane#user.active

        .col-md-9

          .panel.panel-default
            .panel-heading
              %h4.panel-title Login
            .panel-body
              %form.form-horizontal{role: "form"}
                .form-group
                  %label.col-sm-2.control-label Email
                  .col-sm-10
                    %p.form-control email@example.com
                .form-group
                  %label.col-sm-2.control-label{for: "inputPassword"} Password
                  .col-sm-10
                    %p.form-control-static
                      %a Reset Password



          .panel.panel-default
            .panel-heading
              %h4.panel-title Notification Preferences
            .panel-body
              %form.form-horizontal{role: "form"}
                .radio
                  %label
                    %input#optionsRadios1{checked: "checked", name: "optionsRadios", type: "radio", value: "option1"}/
                    Email Me
                .radio
                  %label
                    %input#optionsRadios2{name: "optionsRadios", type: "radio", value: "option2"}/
                    Don't Email Me



          .panel.panel-default
            .panel-heading
              %h4.panel-title Language
            .panel-body
              %form.form-horizontal{:role => "form"}
                .form-group
                  / %label.control-label.col-md-6{for: "inputPassword3"}
                  /   %i.fa.fa-globe &nbsp; Language:
                  .col-md-6
                    %select.form-control
                      %option
                        %i.fa.fa-globe
                        English
                      %option Spanish


          %button.btn.btn-primary.pull-right Save


        .col-md-3
          .panel.panel-default
            .panel-heading
              %h3.panel-title Your Data

            .panel-body.text-center
              %button.btn.btn-default.btn-block Download All My Data
              %br/
              %a.small{:href => ""} Delete My Account