/ ---
/ title: Admin
/ ---

.row
  .col-md-12

    %ul.nav.nav-tabs
      %li.active
        %a{href: "#notifs", "data-toggle" => "tab"} Notifications
      %li
        %a{href: "#research", "data-toggle" => "tab"} Research Topics

    %br/

    .nav.tab-content

      .tab-pane#notifs.active
        notifs
      .tab-pane#research
        research
