- title("Admin")

.row
  .col-md-12

    %ul.nav.nav-tabs
      %li.active
        %a{href: "#notifs", "data-toggle" => "tab"} Notifications
      %li
        %a{href: "#blog", "data-toggle" => "tab"} Blog Posts
      %li
        %a{href: "#research", "data-toggle" => "tab"} Research Topics
      %li
        %a{href: "#users", "data-toggle" => "tab"} Team / Users


    %br/

    .nav.tab-content

      .tab-pane#notifs.active
        .row
          .col-md-3
            = render :partial => "notifications", :locals => { :editable => true }

      .tab-pane#blog
        .row
          .col-md-9
            = render :partial => "blog_posts", :locals => { :editable => true }

      .tab-pane#research
        .row
          .col-md-9
            = render :partial => "research_topics", :locals => { :editable => true, :star_pattern => :popular, :num_loops => 5}

      .tab-pane#users
        .row
          .col-md-3
            = render :partial => "team", :locals => { :editable => false }

