
.row
  .col-md-9
    = render :partial => "blog_posts", :locals => { :editable => false }

  .col-md-3
    .panel.panel-default
      .panel-heading
        %h3.panel-title Research Team

      .panel-body
        .media
          %a.pull-left
            = image_tag "kappelman.jpg", :class => " media-object img-circle", :width => "80px"
          .media-body
            %strong
              Mike Kappelman
            %p
              Researcher, GI


    .panel.panel-default
      .panel-heading
        %h3.panel-title Patient Counsel

      .panel-body
        .media
          %a.pull-left
            = image_tag "kappelman.jpg", :class => " media-object img-circle", :width => "80px"
          .media-body
            %strong
              Jessica Burriss
            %p
              Crohn's Patient



