/ ---
/ title: My Health Data
/ ---

.row
  .col-xs-12
    .panel.panel-default
      .panel-heading
        .panel-title Your Connected Data Sources

      .table-responsive
        %table.table.table-hover
          %tr
            %th Source
            %th Last Synced
            %th Donated to Research
            %th
          %tbody
            %tr
              %td Overall Health
              %td Today
              %td
                %i.fa.fa-check
            %tr
              %td Journal Entries
              %td Today
              %td
                %i.fa.fa-check
            %tr
              %td FitBit
              %td Today
              %td
                %i.fa.fa-check
                %button.btn.btn-default.btn-sm Manage
            %tr
              %td MyFitnessPal
              %td Today
              %td
                %i.fa.fa-check
                %button.btn.btn-default.btn-sm Manage
            %tr
              %td Withings
              %td Today
              %td
                %i.fa.fa-check
                %button.btn.btn-default.btn-sm Manage
            %tr
              %td 23&Me
              %td Today
              %td
                %i.fa.fa-check
                %button.btn.btn-default.btn-sm Manage
      .panel-footer
        %button.btn.btn-success.center-block Add Data Source
        %a.btn.btn-primary.pull-right{:href=> "/contributions/"} Done
        .clearfix