- title("Research")
- connection_sources = ["Fitbit", "Moves", "Nike Fuelband", "MapMyFitness", "Jawbone Up", "BodyMedia", "RunKeeper", "Strava Running", "Fitbit Aria", "Withings"]
- last_synced_dates = ["Today", "1 Week Ago", "Last Month"]

.row
  .col-md-3
    = render :partial => "shared/research_nav"


  .col-md-9
    .panel.panel-default
      .panel-heading
        %h4.panel-title My Data Connections
      %table.table.table-hover.table-responsive
        %thead{:style => "background-color: #DDD; font-size: 12px; font-weight: bold;"}
          %td (Logo)
          %td Source
          %td Last Data Received
        %tbody
          - connection_sources.each do |connection_source|
            %tr
              %td.col-md-1
                %i.fa.fa-slack{:style=>"font-size: 36px;"}
              %td= connection_source
              %td.small= last_synced_dates.shuffle.first
      .panel-footer.text-center
        %a.btn.btn-sm.btn-primary{:href => "#"} Connect More Data Sources


    -# %a.btn.btn-primary.btn-block{:href => "http://www.patientsknowbest.com", :target => "_blank"} My Medical Records


    .req API doc to perform "user provisioning" to link to OODT user account
    .req API doc regarding the flow of authentication tokens from Validic to OODT
    .req API doc for quering this health data through OODT

    %br/
    .req API doc to perform "user provisioning" to link to Crohnology user account


    %br/


    / - if myapnea_pprn?
    /   .panel.panel-default
    /     .panel-heading
    /       %h4.panel-title
    /         Your Health Summary

    /     %table.table.table-responsive
    /       %tbody
    /         %tr
    /           %td Condition
    /           %td Crohn's
    /         %tr
    /           %td Age of Diagnosis
    /           %td 13
    /         %tr
    /           %td Current Age
    /           %td 28
    /         %tr
    /           %td Years With
    /           %td 15
    /         %tr
    /           %td Current Health
    /           %td Remission
    /         %tr
    /           %td Current Treatments
    /           %td Remicade
    /         %tr
    /           %td Past Treatments
    /           %td Prednisone, 6MP, SCD
    /     .panel-footer
    /       %a.btn.btn-default.center-block{:href => "/account/"} Update Info

