/ ---
/ title: Consent
/ ---

.req This Informed Consent Doc

.row
  .col-md-8.col-md-offset-2
    .well
      %p
        Tritani oporteat singulis eu vim. Ne pri odio ponderum vituperatoribus, ea reque regione urbanitas vim. Legere minimum vim an. Nemore graecis consectetuer ad qui, ut mei feugiat appareat. Fabulas molestie ullamcorper ut duo, id vis ipsum ridens utamur, et per laudem commune. Omittam reprimique consequuntur has et, movet civibus forensibus sed ex.
      %p
        Noluisse tacimates interesset eu cum, consulatu imperdiet intellegebat cum ei, id nec erat cotidieque. Offendit eloquentiam ei nec. Perfecto petentium ad duo, ad nec minim scripta, id nam choro democritum disputationi. Cu his saepe prompta, idque soluta appellantur mel ex, diceret detracto sed no. Sit aeterno tibique mediocritatem te, te mea dico assentior, et soluta vocent sit.
      %p
        Eos sint labores honestatis cu, nulla percipitur mei an. Ex sit quaestio ocurreret conceptam, soleat quidam eam eu. Mel no quodsi facilis, est et ferri primis ullamcorper, ius reque animal definitiones ne. Mei ei utinam graeci, facete placerat invenire pri ad.
      %p
        Ad malis everti mel, soleat comprehensam sit at. Per in eripuit voluptaria. Vix quem tibique eu. Ius nisl corpora iudicabit eu, at iudico phaedrum usu. Ea unum omnium habemus ius, no mea graeci gubergren quaerendum. Nobis congue mentitum ad mea, vis vide verear oporteat cu, tota deleniti voluptatum id vim. At nam corpora splendide, eam saepe lobortis gubergren ex, vix ea novum consectetuer interpretaris.
      %p
        An ius antiopam torquatos. Id eirmod debitis sed, has possim prompta luptatum et, mazim dicit civibus at est. Alii exerci posidonium ut duo, eos possit prompta no. Est ut erat natum, facilisi philosophia has in. Eu saepe dictas qui, ad platonem euripidis conceptam pri, pri id dictas recusabo. Pro probo noluisse signiferumque et.
      %p
        Eu essent dolores pertinacia mel, probo option qui no, suas primis vivendum ea eam. Eum etiam appetere platonem ex, per nihil denique ea. Accusam rationibus no eos, sed impetus expetenda omittantur te. Ne perfecto scripserit his, ei nusquam intellegam ius, antiopam recteque intellegebat ne nam.
      %p
        Eos ad unum habeo praesent, usu an legere admodum rationibus. Placerat maluisset delicatissimi no pro, in partem sententiae sed. Eu has doctus contentiones. Per nominavi principes ea, populo possim suscipit has cu. Cu ius doming reprimique.
      %p
        Omnium nominati mei in. Ea qui esse maiestatis, eu saepe possit delicatissimi sed. Quo oblique intellegebat ad, cu eam integre nostrud singulis. Minimum urbanitas conclusionemque ne usu, usu at partem intellegam complectitur. Et aeterno aliquid intellegat cum, populo inciderint vim et, idque tritani corpora cu ius. In vis eius ridens invidunt.
      %p
        Error nusquam molestiae te pro, vim consul sadipscing ne. Eu eros tamquam volumus usu, sed ea odio scripta persius. At mel porro copiosae periculis. Ius at meis suavitate, nec enim ponderum luptatum ei. Per ut augue fuisset. At sanctus periculis deseruisse sed, te pro cetero accommodare, eius novum noster usu te.
      %p
        Quando minimum eos in. Cu sit mutat maiorum nominavi. Omittam lucilius mel ne. Et noster pertinacia eum.
      %p
        Per et magna corrumpit, vix solet splendide eu. At has tacimates constituam reformidans, impedit commune eu est. Mundi affert euripidis pri eu. Quas minimum vis ea, mea cu elitr oporteat, graece expetenda expetendis nam ei. Ei movet sensibus vel, ad vix prima facilisis, agam docendi ea mea. Mea te nobis utinam dignissim.
      %p
        Ius sale vitae possim id, et vidisse voluptua efficiantur his. In suas mollis nam, saepe bonorum omittantur ex mel, in tale corpora erroribus vis. Mei in zril percipit, in quot vidisse sit. Voluptatum persequeris vis no, ceteros intellegam vel ut, exerci comprehensam ei nam.
      %p
        At habeo iudicabit accommodare quo, ei soleat quaestio iudicabit eum. In harum civibus assueverit vis. No nec noluisse vivendum adversarium, no iisque verterem qui. Usu soluta noluisse invidunt an.
      %p
        Ex per sint porro probatus, quodsi labores comprehensam vim id, mea et dicunt cetero sadipscing. Duo ea paulo equidem. At eum nobis cetero facilisi. Labores habemus interpretaris mea ex, choro principes at vel. Minim latine incorrupte ei vel, an mel deleniti iracundia.
      %p
        His te impetus scripta integre. Veri imperdiet philosophia est ei, duo at esse disputationi, mandamus scribentur philosophia an eam. Vim ut delicata consulatu signiferumque, duo in viris dicam oblique. Atqui libris elaboraret ei eos, an agam etiam consequuntur eum. At doming equidem indoctum eos, dolore accumsan voluptatibus ei sea, pro ex velit officiis. Aliquid theophrastus eum in. Eu vim nemore aliquam.
      %p
        Vix veritus quaestio adolescens id, nihil solet te est. Saepe docendi at mei. Nobis nostrud appellantur id duo, quo sensibus vituperatoribus eu. Ius fastidii erroribus id. Ei vim probo debitis iracundia, no est mazim vocibus urbanitas. Ne prompta adversarium vel, eu sed euismod detraxit mediocrem.
      %p
        Discere nominavi salutandi mel an, perfecto inciderint id nec. Ne mel veniam mollis epicuri. Congue utroque ut per, vel velit dolore et. Nec saperet deleniti fabellas ex, consul volumus expetenda mea eu. Molestiae dissentias eam at, ea his dicta graecis, ex autem utamur aliquando cum. Vel probo scriptorem id.
      %p
        Vis te alii cibo docendi. Ex porro aliquam sea. Mnesarchum vituperatoribus usu ut, cu cum affert mucius. An utamur lucilius nam. Nec ea oblique platonem, nec pertinax facilisis eu, te mei recusabo perpetua. Eam prima appetere an, adhuc affert putent id sed, nec ei legendos recusabo.
      %p
        Mollis delicata pri ea, cu ius tale recusabo instructior, probatus dissentiunt id mea. Mei liber menandri ad, eam in minimum accusam. Ad vis numquam epicuri prodesset, nec nostro efficiantur eu, ei vim consul mediocrem. Ea est posse exerci salutatus, eius mazim sit ne.
      %p
        Consul verear aliquam mel id, ei nobis tation splendide mea, has eu scaevola antiopam. Veri persius eu usu, sea an nulla affert. Ne case graeco commodo mei. Nihil indoctum vix in, tamquam dolorem apeirian te mei.


    %a.btn.btn-primary.pull-right{:href => research_path} I Consent