= render layout: "/layouts/data" do

  - if @ccfa_pprn
    %h3 Welcome to the CCFA Partners PPRN My Health Data Environment

    %p In this area you will be able to:

    %ul
      %li Record, Track and Analyze your IBD Symptoms
      %li Link and Share Information from Selected Apps and Devices



    %h3 How to participate

    %p We have identified 2 ways to share data.  Sources of data include:

    %ul
      %li Direct participation in CCFA Partners surveys (participant entered data (surveys & portal)
      %li Authorization of data to be shared from external sources

    %p Apps and devices offer a growing range of ways to get the important health information you're tracking into you’re My Health Data record. Many apps let you analyze and manage that information to help you achieve your health goals.

    %p Connected apps and devices are websites, software programs, and mobile apps that can help you get more out of—and put more into My Health Data.

    %p My Health Data lets you integrate data from apps and devices with your survey data, to track your health, manage your goals, and simultaneously contribute to research.
  - else
    %p Duis ultricies suscipit nibh viverra rhoncus. Nulla viverra est justo, vitae lobortis lacus imperdiet non. Phasellus sed lectus a nibh vulputate aliquet eu quis mauris. Donec ultrices sollicitudin nunc, sit amet congue elit. Pellentesque sollicitudin, nisl a dignissim lobortis, ligula sem laoreet nunc, quis molestie leo est eu risus. Proin metus arcu, aliquam eu interdum sed, volutpat mattis diam.

    %p Pellentesque posuere quis metus nec molestie. Vestibulum ut iaculis leo, feugiat condimentum nibh. Ut urna augue, dapibus at vestibulum sed, suscipit at tortor. Nunc eget dignissim metus. Proin lobortis magna ut nibh blandit, non sodales augue mollis. Morbi quis pellentesque dolor. Nam suscipit in nisl at mollis.

    %p Nullam tincidunt ornare volutpat. In quis orci felis. Donec euismod dui sed lacus facilisis luctus. Suspendisse imperdiet nunc pulvinar dictum laoreet. Ut sit amet velit sodales, tincidunt massa et, cursus est. Ut adipiscing viverra turpis. Vivamus dapibus turpis et viverra hendrerit. Nunc mattis tincidunt risus, a porttitor urna sodales vel. Praesent egestas libero bibendum malesuada tincidunt.

  %br/
  .panel.panel-default
    .panel-heading
      %h4.panel-title Available Apps
    = render partial: "data_source_table"

  %a.btn.btn-primary{:href => data_connections_path} Connect These Apps