- title("Research")
- connection_sources = ["GI Buddy", "Fitbit", "Moves", "Nike Fuelband", "MapMyFitness", "Crohnology","Jawbone Up", "BodyMedia", "RunKeeper", "Strava Running", "Fitbit Aria", "Withings"]



.row
  .col-md-3
    = render :partial => "shared/research_nav"


  .col-md-9

    .row
      .col-md-12
        %h3 My Data Connections

    %br/


    - source_num = 0

    - connection_sources.each do |source|
      - if (source_num % 3 == 0)
        .row

      .col-md-4
        .panel.panel-default
          .panel-body
            %h4= source
            - if ![true,false,false,false].shuffle.first
              %button.btn.btn-success.btn-sm Connect
            - else
              %button.btn.btn-default.disabled.btn-sm Connected



      - source_num += 1



    / - if myapnea_pprn?
    /   .panel.panel-default
    /     .panel-heading
    /       %h4.panel-title
    /         Your Health Summary

    /     %table.table.table-responsive
    /       %tbody
    /         %tr
    /           %td Condition
    /           %td Crohn's
    /         %tr
    /           %td Age of Diagnosis
    /           %td 13
    /         %tr
    /           %td Current Age
    /           %td 28
    /         %tr
    /           %td Years With
    /           %td 15
    /         %tr
    /           %td Current Health
    /           %td Remission
    /         %tr
    /           %td Current Treatments
    /           %td Remicade
    /         %tr
    /           %td Past Treatments
    /           %td Prednisone, 6MP, SCD
    /     .panel-footer
    /       %a.btn.btn-default.center-block{:href => "/account/"} Update Info

