- @report_names = ["My Disease Activity", "My Quality of Life", "My Anxiety", "My Depression", "My Fatigue","My Pain","My Sleep Disturbance","My Social Relations"]
- title("My Health Data")

.row

  .col-md-3
    = render :partial => "shared/data_nav"

  .col-md-9
    %h3 My Reports
    %hr/

    - @report_names.each do |report_name|

      %h4= report_name
      = render :partial => "progress"
      %hr/
