- title("My Healthy Data")

.row

  .col-md-9


    - if (defined? mode) && (mode == "fux")
      .alert.alert-info It looks like it's your first time


    = image_tag "time-series.png", :width => "100%"

    %br/
    %br/

    .panel.panel-default
      .panel-heading
        %h4.panel-title Stream

      %table.table.table-striped.table-responsive
        %thead.small
          %td Date
          %td Health Info
          %td Source
        %tbody
          - 4.times do
            %tr
              %td March 2
              %td 10,000 Steps
              %td Fitbit
            %tr
              %td March 1
              %td 5 miles run
              %td MyFitnessPal
            %tr
              %td Feb 28
              %td Weight: 195 pounds
              %td Withings
            %tr
              %td Feb 12
              %td Overall Health: 100
              %td Crohnology



      .panel-footer{:style=> "padding: 0px; padding-top: 5px;"}
        .text-center
          %ul.pagination.pagination-sm{:style=> "margin: 0px;"}
            %li
              %span &laquo;
            %li.disabled
              %span ...
            %li
              %span &raquo;

  .col-md-3
    .panel.panel-default
      .panel-heading
        %h4.panel-title.pull-left View
        %button.btn.btn-default.btn-xs.pull-right Show All
        .clearfix
      %table.table.table-hover.table-responsive

        %tbody
          %tr
            %td
              %i.fa.fa-check
            %td FitBit
          %tr
            %td
              %i.fa.fa-check
            %td MyFitnessPal
          %tr
            %td
              %i.fa.fa-check
            %td Crohnology
          %tr
            %td

            %td Withings
      .panel-footer
        %a.btn.btn-sm.btn-default.btn-block{:href => "#"} Manage Data Connections


    %a.btn.btn-primary.btn-block{:href => "http://www.patientsknowbest.com", :target => "_blank"} My Medical Records


    .req API doc to perform "user provisioning" to link to OODT user account
    .req API doc regarding the flow of authentication tokens from Validic to OODT
    .req API doc for quering this health data through OODT

    %br/
    .req API doc to perform "user provisioning" to link to Crohnology user account


    %br/


    - if sapcon_pprn?
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            Your Health Summary

        %table.table.table-responsive
          %tbody
            %tr
              %td Condition
              %td Crohn's
            %tr
              %td Age of Diagnosis
              %td 13
            %tr
              %td Current Age
              %td 28
            %tr
              %td Years With
              %td 15
            %tr
              %td Current Health
              %td Remission
            %tr
              %td Current Treatments
              %td Remicade
            %tr
              %td Past Treatments
              %td Prednisone, 6MP, SCD
        .panel-footer
          %a.btn.btn-default.center-block{:href => "/account/"} Update Info


/ %td.no-wrap{:style => "background-color: #f5f5f5 !important;"}
/   Today
/ %td{:style => "background-color: #f5f5f5 !important;"}
/   %div.col-md-4.col-xs-12.text-center
/     How are you feeling?
/     / %br/
/     / %i.fa.fa-circle
/     / &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
/     / %i.fa.fa-circle
/     / &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
/     / %i.fa.fa-circle
/     / &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
/     / %i.fa.fa-circle
/     / %br/
/     %input{:type => "range"}
/     %br/
/   .col-md-6.col-xs-12
/     %textarea.form-control{:placeholder => "Type a journal entry here.."}
/     %br/
/   %div.col-md-2.col-xs-12
/     %a.btn.btn-primary.btn-block{:href=>"javascript:location.reload();"} Post