- title("Discussion")


.row
  .col-md-12

    .panel.panel-default
      .panel-heading
        %h3.panel-title.pull-left Discussion
        .btn-group.btn-group-xs.pull-right
          %button.btn.btn-default.active{type: "button"} Local Topics
          %button.btn.btn-default{type: "button"} Global Topics
        .clearfix

      %table.table.table-striped.table-responsive
        %tbody
          %tr
            %td
              Eos sint labores honestatis cu, nulla percipitur mei an. Ex sit quaestio ocurreret conceptam, soleat quidam eam eu. Mel no quodsi facilis, est et ferri primis ullamcorper, ius reque animal definitiones ne. Mei ei utinam graeci, facete placerat invenire pri ad.
          %tr
            %td
              Eos sint labores honestatis cu, nulla percipitur mei an. Ex sit quaestio ocurreret conceptam, soleat quidam eam eu. Mel no quodsi facilis, est et ferri primis ullamcorper, ius reque animal definitiones ne. Mei ei utinam graeci, facete placerat invenire pri ad.
          %tr
            %td
              Eos sint labores honestatis cu, nulla percipitur mei an. Ex sit quaestio ocurreret conceptam, soleat quidam eam eu. Mel no quodsi facilis, est et ferri primis ullamcorper, ius reque animal definitiones ne. Mei ei utinam graeci, facete placerat invenire pri ad.
          %tr
            %td
              Eos sint labores honestatis cu, nulla percipitur mei an. Ex sit quaestio ocurreret conceptam, soleat quidam eam eu. Mel no quodsi facilis, est et ferri primis ullamcorper, ius reque animal definitiones ne. Mei ei utinam graeci, facete placerat invenire pri ad.
          %tr
            %td
              Eos sint labores honestatis cu, nulla percipitur mei an. Ex sit quaestio ocurreret conceptam, soleat quidam eam eu. Mel no quodsi facilis, est et ferri primis ullamcorper, ius reque animal definitiones ne. Mei ei utinam graeci, facete placerat invenire pri ad.
          %tr
            %td
              Eos sint labores honestatis cu, nulla percipitur mei an. Ex sit quaestio ocurreret conceptam, soleat quidam eam eu. Mel no quodsi facilis, est et ferri primis ullamcorper, ius reque animal definitiones ne. Mei ei utinam graeci, facete placerat invenire pri ad.
      .panel-footer{:style=> "padding-bottom: 0px; padding-right: 8px; padding-top: 5px;"}
        .pull-right
          %button.btn.btn-primary.btn-xs{:style=>"margin-top: 3px;"} Post Local Topic

        .text-center
          %ul.pagination.pagination-sm{:style=> "margin: 0px;"}
            %li
              %span &laquo;
            %li.disabled
              %span ...
            %li
              %span &raquo;