- title("Donate")

.row
  .col-md-9
    .panel.panel-default
      .panel-heading
        %h4.panel-title Set up Monthly Donation
      .panel-body
        %form.form-horizontal{role: "form"}
          .form-group
            %label.col-sm-5.control-label{for: "inputPassword3"} Amount
            .col-sm-7
              %select.form-control
                %option $25
                %option $50
                %option $100
                %option $500
                %option $1000
                %option Other Amount...
        %img.pull-left{:src=>"images/paypal.gif"}
        %a.btn.btn-primary.pull-right.pull-bottom{style: "margin-top: 40px;", href: "#"} Next
