.row
  .col-md-12
    .text-center
      %h2 External Site
      %p You are being redirected to <strong> ccfapartners.org </strong> to take a survey.
      %p Make sure to return to this website when you are done.

      %p
        %a.btn.btn-primary{:href => "http://ccfapartners.org", :target => "_blank"} Continue

      %p
        %a{:href => "javascript:history.back()"} Go Back
