/ ---
/ title: My Health Profile
/ ---

.row
  .col-md-6
    %form.form-horizontal{role: "form"}
      .form-group
        %label.col-sm-4.control-label Name
        .col-sm-8
          %input.form-control{:type => "text"}
      %hr/
      .form-group
        %label.col-sm-4.control-label Condition
        .col-sm-8
          %input.form-control{placeholder: "Crohn's, Colitis, Other", type: "text"}/
      .form-group
        %label.col-sm-4.control-label Current Disease Status
        .col-sm-8
          %input.form-control{:type => "text"}
      .form-group
        %label.col-sm-4.control-label Date of Diagnosis
        .col-sm-8
          %input.form-control{:type => "date"}
      .form-group
        %label.col-sm-4.control-label Date of First Symptoms
        .col-sm-8
          %input.form-control{:type => "date"}
      %hr/
      .form-group
        %label.col-sm-4.control-label Date of Birth
        .col-sm-8
          %input.form-control{:type => "date"}
      .form-group
        %label.col-sm-4.control-label Sex
        .col-sm-8
          %input.form-control{:type => "text"}
      %hr/
      .form-group
        %label.col-sm-4.control-label Current Treatments
        .col-sm-8
          %textarea.form-control
      .form-group
        %label.col-sm-4.control-label Treatments Taken in Past
        .col-sm-8
          %textarea.form-control


      %a.btn.btn-primary.pull-right{:href => "javascript:history.back()"} Done