
.req All Page Content and Imagery









.row
  .col-md-8.col-md-offset-2.text-center
    = image_tag "demo-video.png", :style => "width: 100%;"


.row
  .col-md-8.col-md-offset-2
    .text-center
      %h3 Join a Movement to Solve #{@pprn_condition} Together

    %p Fusce erat velit, luctus at tempor non, hendrerit sit amet ligula. Praesent quis eleifend magna. Proin nec nibh ut mi elementum tristique sit amet non est. Etiam vitae molestie lectus. Mauris ut nisl augue. Donec sollicitudin ut erat eget vestibulum. Nunc condimentum dolor eget erat varius, sit amet vulputate ipsum feugiat. Duis porttitor dolor a tortor dignissim, vel fringilla elit interdum. Vestibulum vitae bibendum massa. Integer ultricies eleifend laoreet. In ut nisl purus.



%br/
%br/
.row
  .col-md-4.col-md-offset-4.text-center
    %a{:href => new_user_registration_path}
      .btn.btn-lg.btn-primary.btn-block Join
    %br/
    %p
      Already a Member?
      = link_to "Sign in", new_user_session_path





%hr/

.row
  .col-md-4
    %h4 Describe a Feature of the Network

    %p Fusce erat velit, luctus at tempor non, hendrerit sit amet ligula. Praesent quis eleifend magna. Proin nec nibh ut mi elementum tristique sit amet non est. Etiam vitae molestie lectus. Mauris ut nisl augue. Donec sollicitudin ut erat eget vestibulum.
  .col-md-4
    %h4 Describe a Feature of the Network

    %p Fusce erat velit, luctus at tempor non, hendrerit sit amet ligula. Praesent quis eleifend magna. Proin nec nibh ut mi elementum tristique sit amet non est. Etiam vitae molestie lectus. Mauris ut nisl augue. Donec sollicitudin ut erat eget vestibulum.
  .col-md-4
    %h4 Describe a Feature of the Network


    %p Fusce erat velit, luctus at tempor non, hendrerit sit amet ligula. Praesent quis eleifend magna. Proin nec nibh ut mi elementum tristique sit amet non est. Etiam vitae molestie lectus. Mauris ut nisl augue. Donec sollicitudin ut erat eget vestibulum.


%br/
%br/


.row
  .col-md-4.col-md-offset-4.small
    .req If we want to support other languages, translations to each language
    %form.form-horizontal{:role => "form"}
      .form-group
        %label.control-label.col-md-6{for: "inputPassword3"}
          %i.fa.fa-globe &nbsp; Language:
        .col-md-6
          %select.form-control.small
            %option
              %i.fa.fa-globe
              English
            %option Spanish
