/ ---
/ title: Insights
/ ---

%h1 Insights
%hr/


.row
  .col-md-2
    %ul.nav.nav-pills.nav-stacked
      %li.active
        %a{href: "#"} Demographics
      %li
        %a{href: "#"} Research Findings
      %li
        %a{href: "#"} Treatments

  .col-md-10

    = image_tag "time-graph2.png", :width => "100%"
    %hr/
    = image_tag "time-graph3.png", :width => "100%"
    %hr/
    = image_tag "charts.png", :width => "100%"
