
.row
  .col-md-8.col-md-offset-2

    %h3 Here's how it works
    .req The explanatory content here, and imagery if applicable
    %p
      Lorem ipsum dolor sit amet, ius sonet veniam signiferumque eu, pri ad libris aperiam euripidis. Est ei ferri dolores, purto equidem ea eum. Latine tibique detracto cu pro. Usu movet oporteat apeirian no, te pri quis quando. Mandamus pertinacia mel in, in vim laoreet lucilius. Mundi repudiandae consectetuer et eos, nam ex sumo recusabo.
    %p
      Lorem ipsum dolor sit amet, ius sonet veniam signiferumque eu, pri ad libris aperiam euripidis. Est ei ferri dolores, purto equidem ea eum. Latine tibique detracto cu pro. Usu movet oporteat apeirian no, te pri quis quando. Mandamus pertinacia mel in, in vim laoreet lucilius. Mundi repudiandae consectetuer et eos, nam ex sumo recusabo.
    %p
      Lorem ipsum dolor sit amet, ius sonet veniam signiferumque eu, pri ad libris aperiam euripidis. Est ei ferri dolores, purto equidem ea eum. Latine tibique detracto cu pro. Usu movet oporteat apeirian no, te pri quis quando. Mandamus pertinacia mel in, in vim laoreet lucilius. Mundi repudiandae consectetuer et eos, nam ex sumo recusabo.

%br/
%br/






.row
  .col-md-6.col-md-offset-3
    .panel.panel-default
      .panel-heading
        .panel-title Join
      .panel-body
        = form_tag new_user_session_path, :class => "form-horizontal", role: "form" do
          / .hidden
          /   = text_field_tag 'user[email]'
          /   = password_field_tag 'user[password]'
          .form-group
            %label.col-sm-5.control-label{for: "inputEmail3"} Email
            .col-sm-7
              %input#user_email.form-control{placeholder: "Email", type: "email", :name => "user[email]"}/
          .form-group
            %label.col-sm-5.control-label{for: "inputPassword3"} Password
            .col-sm-7
              %input#user_password.form-control{placeholder: "Password", type: "password", name: "user[password]"}/
          .form-group
            %label.col-sm-5.control-label{for: "inputPassword3"} Password Confirmation
            .col-sm-7
              %input#user_password_confirmation.form-control{placeholder: "Password", type: "password", name: "user[password_confirmation]"}/
          .form-group
            %label.col-sm-5.control-label{for: "inputPassword3"} Condition
            .col-sm-7
              %select.form-control
                %option Crohn's
                %option Colitis
                %option Indeterminant Colitis
          .form-group
            .col-sm-offset-5.col-sm-7
              = submit_tag 'Join', :class => "btn btn-primary"
    %p.text-center
      Already a Member
      %a{:href => "/login"} Sign in.
