/ ---
/ title: Research Topics
/ ---

.row
  .col-md-9
    .panel.panel-default
      .panel-heading
        %h3.panel-title Research Topics

      .panel-body
        %ul.nav.nav-tabs
          %li.active
            %a{href: "#inprogress", "data-toggle" => "tab"} In Progress
          %li
            %a{href: "#new", "data-toggle" => "tab"} New Proposals
          %li
            %a{href: "#completed", "data-toggle" => "tab"} Completed

        %br/

        .tab-content
          .tab-pane#new
            %table.table.table-responsive
              %tbody
                %tr
                  %td
                    %a{:href => "/research_question"}
                      %h4 How does pregancy affect condition activity?
                %tr
                  %td
                    %a{:href => "/research_question"}
                      %h4 Can a six week schedule of 10,000 steps improve Crohn's symptoms?
                %tr
                  %td
                    %a{:href => "/research_question"}
                      %h4 Which is a more effective dosing schedule of Drug A?

                %tr
                  %td.text-right{"colspan" => 3}
                    %a.btn.btn-success.btn-sm{:href => "/new_question", :style=>"margin-top: 3px;"} Submit Question



          .tab-pane#completed
            %table.table.table-responsive
              %tbody
                %tr
                  %td
                    %a{:href => "/research_question"}
                      %h4 Does a Oxygen work for this subtype of Ulcerative Colitis?
                  / %td 100
                  / %td

                %tr
                  %td
                    %a{:href => "/research_question"}
                      %h4 Does sleeping on your side change the effects?
                  / %td 50
                  / %td
                  /   %a.btn.btn-success.btn-sm.pull-right{:href => "/survey"} Complete Survey

          .tab-pane#inprogress.active
            %table.table.table-responsive
              %tbody
                %tr
                  %td
                    %a{:href => "/research_question"}
                      %h4 Does a Oxygen work for this subtype of Ulcerative Colitis?
                  / %td 100
                  / %td

                %tr
                  %td
                    %a{:href => "/research_question"}
                      %h4 Does sleeping on your side change the effects?
                  / %td 50
                  / %td
                  /   %a.btn.btn-success.btn-sm.pull-right{:href => "/survey"} Complete Survey

                %tr
                  %td
                    %a{:href => "/research_question"}
                      %h4 How does pregancy affect condition activity?
                  / %td 40
                  / %td
                  /   %a.btn.btn-success.btn-sm.pull-right{:href => "/survey"} Complete Survey
                %tr
                  %td
                    %a{:href => "/research_question"}
                      %h4 Can a six week schedule of 10,000 steps improve Crohn's symptoms?
                  / %td 100
                  / %td

                %tr
                  %td
                    %a{:href => "/research_question"}
                      %h4 Which is a more effective dosing schedule of Drug A?
                  / %td 50
                  / %td
                  /   %a.btn.btn-success.btn-sm.pull-right{:href => "/survey"} Complete Survey


      .panel-footer{:style=> "padding-bottom: 0px; padding-right: 8px; padding-top: 5px;"}
        .text-center
          %ul.pagination.pagination-sm{:style=> "margin: 0px;"}
            %li
              %span &laquo;
            %li.disabled
              %span ...
            %li
              %span &raquo;




    .panel.panel-default
      .panel-heading
        %h3.panel-title Research Team Blog

      .panel-body
        .media
          %a.pull-left
            %img.media-object.img-circle{:src => "/images/kappelman.jpg", :width => "80px"}
          .media-body
            %a{:href=>"/blog"}
              %h4.media-heading Usu movet oporteat apeirian
            Lorem ipsum dolor sit amet, ius sonet veniam signiferumque eu, pri ad libris aperiam euripidis. Est ei ferri dolores, purto equidem ea eum. Latine tibique detracto cu pro. Usu movet oporteat apeirian no, te pri quis quando. Mandamus pertinacia mel in, in vim laoreet lucilius. Mundi repudiandae consectetuer et eos, nam ex sumo recusabo.

        .media
          %a.pull-left
            %img.media-object.img-circle{:src => "/images/kappelman.jpg", :width => "80px"}
          .media-body
            %a{:href=>"/blog"}
              %h4.media-heading Mea te impetus adipisci
            Lorem ipsum dolor sit amet, ius sonet veniam signiferumque eu, pri ad libris aperiam euripidis. Est ei ferri dolores, purto equidem ea eum. Latine tibique detracto cu pro. Usu movet oporteat apeirian no, te pri quis quando. Mandamus pertinacia mel in, in vim laoreet lucilius. Mundi repudiandae consectetuer et eos, nam ex sumo recusabo.


      .panel-footer{:style=> "padding: 0px; padding-top: 5px;"}
        .text-center
          %ul.pagination.pagination-sm{:style=> "margin: 0px;"}
            %li
              %span &laquo;
            %li.disabled
              %span ...
            %li
              %span &raquo;







  .col-md-3
    .panel.panel-default
      .panel-heading
        %h3.panel-title Notifications

      %ul.list-group
        %li.list-group-item
          %small
            %strong 4/28/14
          %br/
          Survey Results for the SCD Survey have been posted.

        %li.list-group-item
          %small
            %strong 4/23/14
          %br/
          New Insights have been added around patient gender.
        %li.list-group-item
          %small
            %strong 4/1/14
          %br/
          You can now import your EHR data.
        %li.list-group-item
          %small
            %strong 4/28/14
          %br/
          Survey Results for the SCD Survey have been posted.

        %li.list-group-item
          %small
            %strong 4/23/14
          %br/
          New Insights have been added around patient gender.
        %li.list-group-item
          %small
            %strong 4/1/14
          %br/
          You can now import your EHR data.

      .panel-footer{:style=> "padding: 0px; padding-top: 5px;"}
        .text-center
          %ul.pagination.pagination-sm{:style=> "margin: 0px;"}
            %li
              %span &laquo;
            %li.disabled
              %span ...
            %li
              %span &raquo;
