<%=  render partial: 'forem/admin/base/nav' %>

<h4><%= t("forem.forum.edit", :title => forem_emojify(@forum.title)).html_safe %></h4>

<%= render "form" %>

<%=  render partial: 'forem/admin/base/footer' %>
