- content_for :community_contributions do
  .row
    .col-md-12
      .panel.panel-primary
        .panel-heading
          Community Contributions
        .panel-body.text-right
          .row
            .col-md-3
              Members
              %br/
              %span.h0 5,432
            .col-md-3
              Research Ideas
              %br/
              %span.h0 214
            .col-md-3
              Surveys Completed
              %br/
              %span.h0 450
            .col-md-3
              Health Data Streams
              %br/
              %span.h0 681

- content_for :your_contributions do
  = render partial: "shared/badge_list"


%h3 Blog Posts
= render partial: "shared/blog_posts", locals: { blog_posts: @posts, new_blog_post: @new_post, short: false }
