.row.pageTop
= link_to 'Sign Up Today', new_user_registration_path, class: 'sign', id: 'innerSignup'
#innerCarousel
= image_tag 'myapnea/hdr-team.jpg', class: 'headerImg', alt: ''
.row.highlightPanelTop
.container
#Learn.col-md-12
%h1 READY TO LEARN
%p Sleep apnea is a common and potentially life threatening sleep and breathing disorder that affects millions of people.  Left untreated, sleep apnea increases the risk for high blood pressure, heart attack, stroke and other serious medical conditions.  Although there are several treatments for sleep apnea, there is a lot that is not known about what treatments work best for which people.
%h2 What is MyApnea.org?
%p MyApnea.org is what’s called patient-powered research.  It is an online community of people with sleep apnea dedicated to helping one another by sharing their experiences and promoting research.  It is a space for people with sleep apnea to be able to share health information, discuss experiences regarding treatment, and help direct future research projects.  In return, you will get easy to use tools to track your health and learn from others about treatments, symptoms and coping with sleep apnea in order to take better control of your life.
%h2 What is Sleep Apnea?
%p Sleep apnea is a common and potentially life threatening sleep and breathing disorder.  With sleep apnea, breathing is repeatedly interrupted during sleep, sometimes hundreds of times during the night and often for a minute or longer.  Left untreated, sleep apnea increases the risk for high blood pressure, heart attack, stroke and other medical conditions.  It has been estimated that at least 18 million Americans have sleep apnea, but it often goes unrecognized and untreated.  Once diagnosed, sleep apnea can be successfully treated and should not interfere with your job or quality of life.
%h2 Where can I find more information about sleep apnea?
%p Other sites you might want to check for more information are:
%ul
%li www.sleepapnea.org
%li http://healthysleep.med.harvard.edu
%li www.nhlbi.nih.gov/health/health-topics/topics/sleepapnea