<div class="page-header">
</div>

<section id="privacy-policy">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h1><%= @pc['title'] %></h1>
        </div>

        <div class="panel-body">
          <%= markdown @pc['privacy_policy'] %>
        </div>
      </div>
    </div>
  </div>
</section>