.row.pageTop
  = link_to 'Sign Up Today', new_user_registration_path, class: 'sign', id: 'innerSignup'
  #innerCarousel
    = image_tag 'myapnea/hdr-team.jpg', class: 'headerImg', alt: ''
.row.highlightPanelTop
  .container
    #Learn.col-md-12
      = image_tag 'myapnea/apneaIcon.png', class: 'pull-right hidden-sm hidden-xs', style: 'margin-top:50px'
      %h1 READY TO RESEARCH
      %p.lead Finding Answers…Together!
      %h2 Who we are
      %p
        We are a network of people with sleep apnea that have come together to share health information, discuss treatments, and directly work with researchers in the hopes of advancing sleep apnea treatments and medications.
      %h2 Why we need you
      By contributing information on your sleep apnea and health, researchers will be able to make side-by-side comparisons and learn how different types of treatments help patients with the goal of improving treatment for all patients.
      %h2 Sounds great, how do I get started?
      %p
        %strong Step 1) Read and sign the informed consent.
      If you want to join the patient-led research community you will be asked to provide some personal information about yourself and your health. The informed consent form reviews the risks and benefits of participating in health research. We are committed to keeping your identity and information safe.  MyApnea.org will never sell your contact information.  Our partners—the American Sleep Apnea Association and the Division of Sleep and Circadian Disorders at Brigham and Women’s Hospital, Harvard Medical School—are dedicated to helping patients with sleep apnea.  They are interested in generating new knowledge while respecting the privacy concerns of our members.
      %p
        %strong Step 2) Tell us about you.
      Use your computer, your tablet or your smartphone to answer questions about you and your sleep apnea.  The surveys you answer are short, easy to complete, and can be done whenever is easiest for you. The best part is that the information you provide will allow you to track your own health. It’s your personal information, so why shouldn’t you control it and see it when you want to? The easy-to-use dashboard and tools help display key data about you as well as the rest of the community.
      %p
        %strong Step 3) Come back and say hi.
      From time to time there will be new surveys to complete and more information to share. We will report back on what the community has shared in language you don’t have to be a scientist to understand. More importantly, we want to hear from you! What questions about sleep apnea and its treatments would you like answered?

