.panel.panel-default
  .panel-heading
    %h3.panel-title Questions
  .panel-body
    = render partial: "questions/form"

.panel.panel-default
  .panel-heading
    %h3.panel-title Surveys
  .panel-body
    = render partial: "surveys/partials/form"
