<h3 class="panel-title">
  <%= question_flow.name %>

  <div class='pull-right'>
    <%= link_to surveys_path, class: 'btn btn-xs btn-warning dashboard-return' do %>
      <span class="glyphicon glyphicon-arrow-left"></span> Save and Exit
    <% end %>
  </div>
</h3>