- min_set = @question.group.minimum_set(@question, @answer_session.question_flow)

- min_set.each do |main_q|
  = render partial: 'surveys/partials/question_form', locals: { question: main_q, answer_session: @answer_session, answer: @answer, parent_q: nil, condition: nil}
  - main_q.conditional_children(@answer_session.question_flow).each do |sub_q|
    = render partial: 'surveys/partials/question_form', locals: { question: sub_q, answer_session: @answer_session, answer: @answer, parent_q: main_q.id, condition: nil }
