.btn-group.btn-group-xs.voting{"data-question-id" => question.id, "data-question-path" => question_path(question), "data-submit-path" => vote_path, "data-type" => "survey"}
  %button{:class => "btn #{vote_class(question, -1)} vote vote-up", "data-value" => "-1", :type => "button"}
    %span.fa.fa-arrow-down
  - if show_badge
    %button.btn.btn-default.rating{:disabled => "disabled", :type => "button"}
      %span.badge= question.rating
  %button{:class => "btn #{vote_class(question, 1)} vote vote-down", "data-value" => "1", :type => "button"}
    %span.fa.fa-arrow-up