-if false
  %div
    = link_to surveys_path, class: 'btn btn-md btn-default' do
      %i.fa.fa-arrow-left
      Return to My Dashboard
  - if next_survey?(@question_flow)
    %div
      = link_to go_to_next_survey(current_user, @question_flow), class: 'btn btn-md btn-primary' do
        Start Next Survey
        %i.fa.fa-arrow-right
