
  <div>
    <%= link_to surveys_path, class: 'btn btn-md btn-default pull-left' do %>
      <span class="glyphicon glyphicon-arrow-left"></span> Return to My Dashboard
    <% end %>
  </div>
  <div>

  <% if next_survey?(@question_flow) %>
    <%= link_to go_to_next_survey(current_user, @question_flow), class: 'btn btn-md btn-primary pull-right' do %>
      Start Next Survey <span class="glyphicon glyphicon-arrow-right"></span>
    <% end %>
  <% end %>
  </div>
  <br/>
