
.row
  .col-md-12
    %h3 User Management

    .panel.panel-default
      .panel-heading
        .btn-toolbar{role: "toolbar"}
          .btn-group
            %button.btn.btn-default{type: "button"} All Users
            %button.btn.btn-default{type: "button"} Admins
            %button.btn.btn-default{type: "button"} Owners

          .btn-group
            %form#user-search.form-inline{ role: 'form', action: admin_path, :style => "display: inline;" }
              %input{name: 'authenticity_token', type: "hidden", value: form_authenticity_token}
              %label.control-label.sr-only Limit by user email
              .input-group
                %input.form-control{type: 'search', placeholder: 'Search by Email', name: 'search', value: params[:search]}
                %span.input-group-btn
                  %button.btn.btn-default{type: "submit", value: ""} Search



      .table-responsive
        %table.table
          %thead
            %tr
              %th
                User
              %th
                Role

          %tbody
            - users.each do |user|
              %tr.user{data: {user_id: user.id}}
                %td= user.email
                %td
                  - user.roles.each do |role|
                    %span.label.label-default{:style => "margin-right: 5px;"}
                      = role.name.capitalize
                      %a.remove-role{data: {role: role.name}, :style => "color: inherit;"}
                        %i.fa.fa-times

                  / Single button
                  .btn-group.pull-right
                    %button.btn.btn-primary.btn-xs.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
                      Action
                      %span.caret
                    %ul.dropdown-menu{role: "menu"}
                      %li
                        %a{href: "#"} Make Admin
                      %li
                        %a{href: "#"} Make Owner
                      %li.divider
                      %li
                        %a{href: "#"} Delete User

                      -# Roles
                      -# %select#role.form-control.pull-right.input-sm{data: {add_target: add_role_path, remove_target: remove_role_path, authenticity_token: form_authenticity_token}}
                      -#   %option.input-sm{value: "admin"} admin
                      -#   %option.input-sm{value: "owner"} owner
                      -#   %button.add-role.btn.btn-primary.btn-xs.pull-right{type: "button"}
                      -#     %i.fa.fa-plus
                      -#     Add



