
%h3 Export Account
%br/


.row
  .col-md-4
    %h3 Download my Data
    %p.small Receive a file that contains all your data. Ei sonet conclusionemque eum, ei eos bonorum offendit adipiscing, cum ut unum exerci. Possim aeterno cum ea. Sit omnium impedit indoctum eu. Te rationibus definiebas his, ut usu mazim evertitur gloriatur, mei ne ocurreret efficiantur.
    %a.button.btn.btn-primary.btn-block Download my Data


