
%h3 Export Account
%br/


.row
  .col-md-4
    %h3 Download my Data
    %p.small Receive a file that contains all your data. Ei sonet conclusionemque eum, ei eos bonorum offendit adipiscing, cum ut unum exerci. Possim aeterno cum ea. Sit omnium impedit indoctum eu. Te rationibus definiebas his, ut usu mazim evertitur gloriatur, mei ne ocurreret efficiantur.
    %a.button.btn.btn-primary.btn-block Download my Data


  .col-md-4
    %h3 Redact Consent
    %p.small This will opt you out of research. Ei sonet conclusionemque eum, ei eos bonorum offendit adipiscing, cum ut unum exerci. Possim aeterno cum ea. Sit omnium impedit indoctum eu. Te rationibus definiebas his, ut usu mazim evertitur gloriatur, mei ne ocurreret efficiantur.
    %a.button.btn.btn-warning.btn-block Redact My Consent


  .col-md-4
    %h3 Delete Account
    %p.small This will permanently delete your account. Ei sonet conclusionemque eum, ei eos bonorum offendit adipiscing, cum ut unum exerci. Possim aeterno cum ea. Sit omnium impedit indoctum eu. Te rationibus definiebas his, ut usu mazim evertitur gloriatur, mei ne ocurreret efficiantur.
    %a.button.btn.btn-danger.btn-block{href: user_registration_path(@user), method: :delete, data: { confirm: "Are you sure you want to delete your account and all data? There is no undo." }} Delete My Account
