%h1 Welcome to MyApnea.Org!

%p We're very excited to have you as a member of this community.

%h3 Here's a video introducing you to your site.
.embed-responsive.embed-responsive-16by9
  %iframe.embed-responsive-item{ 'src' => '//player.vimeo.com/video/104640787?title=0&amp;byline=0&amp;portrait=0', 'webkitallowfullscreen' => 'true', 'mozallowfullscreen' => 'true', 'allowfullscreen' => 'true' }

%h3 So, what's next?
%ul
  %li Create a social profile to access the social features.
  %li Get involved in sleep apnea research by signing a consent form.

%h3 Lost? Have a question, comment, or suggestion?
%p
  Contact us at
  = mail_to "support@myapnea.org"


= javascript_include_tag 'dashboard'
