
- 3.times do
  .panel.panel-default
    .panel-body
      %a
        %h4 Does X diet work for Crohn's?
      %small
        %strong 4/28/14
      %p We studied this topic with a cohort of 100 patients and discovered the following. Fusce erat velit, luctus at tempor non, hendrerit sit amet ligula. Praesent quis eleifend magna. Proin nec nibh ut mi elementum tristique sit amet non est. Etiam vitae molestie lectus. Mauris ut nisl augue. Donec sollicitudin ut erat eget vestibulum. Nunc condimentum dolor eget erat varius, sit amet vulputate ipsum feugiat. Duis porttitor dolor a tortor dignissim, vel fringilla elit interdum. Vestibulum vitae bibendum massa. Integer ultricies eleifend laoreet. In ut nisl purus.


.text-center
  %ul.pagination.pagination-sm{:style=> "margin: 0px;"}
    %li
      %span &laquo;
    %li.disabled
      %span ...
    %li
      %span &raquo;