// Turbolinks
html.turbolinks-progress-bar::before {
  background-color: red !important;
  height: 5px !important;
}

// body {
//   background-color: #EEE
// }

.nav-tabs {
  background-color: #f5f5f5;
  padding: 10px 10px 0px 10px;
  border: 1px solid #ddd;
}


i.badger { font-size: 36px; }


.badger {
  i { font-size: 36px; }
  color: #DDD;
  .media i {
    color: #DDD;
  }
}


.badger-earned .media, .badger-earned .media i, {
  color: green !important;
}

// .pprn-heading {
//   background-color: #428bca;
// }

.top-nav {
  padding: 10px 0px 10px 0px;

  // background-color: #428bca;
  // a {
  //   color: #FFF;
  // }
  // li.active a {
  //   background-color: #FFF;
  //   color: #000;
  // }
}

.pprn-heading hr {
  margin: 5px 0px 0px 0px;
}

.mosaic-image {
  width: 100px;
  margin: 0px;
}

.mosaic-bg {
  background: image-url("avatars/sample_mosaics/3gm.png") no-repeat;
}

.display-inline-block {
  display: inline-block;
}

.h0 {
  font-size: 48px;
  font-weight: 500;
}

.community-scoreboard {
  min-height: 180px;
}

.muted {
  color: #AAA;
}