// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Make room for top nav bar

body {
  padding-top: 10px;
  padding-bottom: 50px;

  .navbar {
    margin-bottom: 10px;
  }
  .page-header-blank {
    height: 40px;
  }
  .page-header {
    margin-top: 0px;
  }


  .research-star {
    font-size: 36px;
  }
  .research-star.fa-star {
    color: gold;
  }
  .research-star.fa-star-o {
    color: #555;
  }
}

.req {
  color: red;
  display: none;
  font-size: 10px;
}

// .requirement-flag {
//   position: absolute;
//   color: red;
//   top: 0px;
//   right: 0px;
//   z-index: 10;
// }

.graphs .panel-body {
  height: 200px;
  text-align: center;
  img {
    max-height: 180px;
    max-width: 100%;

  }
}

.research-list-heading {
  height: 90px;
}

.user-avatar {
  width: 60px;
}


// #requirements-toggler {
//   color: red;
// }
