// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Make room for top nav bar

body {
  padding-top: 10px;
  padding-bottom: 50px;

  .navbar {
    margin-bottom: 10px;
  }
  .page-header-blank {
    height: 40px;
  }
  .page-header {
    margin-top: 0px;
  }


  .research-star {
    font-size: 36px;
  }
  .research-star.fa-star {
    color: gold;
  }
  .research-star.fa-star-o {
    color: #555;
  }
}


.graphs .panel-body {
  text-align: center;
}

.research-list-heading {
  height: 90px;
}

.user-avatar {
  width: 60px;
  height: 60px;
}

