#forums_container

  %ol.breadcrumb
    %li Forums
    - if forem_admin?
      .pull-right
        = link_to forem.admin_root_path, class: 'btn btn-link btn-xs' do
          %span.fa.fa-cogs
          = t("area", :scope => "forem.admin")
    .pull-right
      = link_to main_app.terms_and_conditions_path, class: 'btn btn-xs btn-link' do
        %span.fa.fa-legal
        Terms and Conditions

  = render @categories

  .panel.panel-default#intro
    .panel-heading
      %h2 Welcome to the Forums!
    .panel-body
      .col-lg-10
        %p Let the dialogue begin here so that we can work together to improve the lives of people.
