.panel.panel-default
  .panel-heading
    %h3.panel-title Your Survey Completion
    You've Completed 1 Survey.

  %table.table.table-hover.table-responsive
    %tbody
      %tr
        %td.col-md-1
          %h4
            %i.fa.fa-check-square
        %td.col-md-10
          %h4 Have you ever done SCD?
        %td.col-md-1.text-right
          %h4 +100
      %tr
        %td
          %h4
            %i.fa.fa-square
        %td
          %h4 How does your Gender affect IBD?
        %td.text-right
          %a.btn.btn-success.btn-sm{:href => "/survey"} Complete Survey
  .panel-footer.text-right
    %h3 +100