
.panel.panel-default
  .panel-heading
    %h3.panel-title Data Access Logs


  - if @research_access_events.empty?
    .panel-body
      .alert.alert-info Your data has not been accessed yet.
  - else
    %table.table
      %thead
        %th Date
        %th Description
      %tbody
        - @research_access_events.each do |event|
          %tr
            %td= event['timestamp']
            %td
              = event['description']
              = link_to " Learn More.", event['url'] if event['url']
