
.panel.panel-default
  .panel-heading
    %h3.panel-title Research Projects that have gained from your Contributions


  - if @research_access_events.empty?
    .panel-body
      .alert.alert-info No researchers has yet used your data to advance science. When researchers have, we will list it here.
  - else
    %table.table
      %thead
        %th Date
        %th Description
      %tbody
        - @research_access_events.each do |event|
          %tr
            %td= event['timestamp']
            %td
              = event['description']
              = link_to " Learn More.", event['url'] if event['url']
