.panel.panel-default
  .panel-heading
    %h3.panel-title Surveys You've Completed
  %table.table
    %thead
      %th Date
      %th Survey
    %tbody
      %tr
        %td Feb 2014
        %td Recurring Six-Month Survey
      %tr
        %td Aug 2013
        %td Recurring Six-Month Survey
      %tr
        %td Jan 2013
        %td Recurring Six-Month Survey
