.col-md-12
  .well
    %i.fa.fa-check-square-o.pull-left{:style => "font-size: 60px;"}

    %h3
      You have
      = current_user.vote_quota
      Votes to cast today.
    %p
      You have cast
      = current_user.todays_votes.length
      of them.


    .progress
      .progress-bar.progress-bar-info{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => current_user.available_votes_percent, :role => "progressbar", :style => "width: #{current_user.available_votes_percent}%"}
        %span.sr-only
          = current_user.available_votes_percent
          \% Complete