- @title = "My Contributions"
- @active_sub_nav = :my_contributions

= render partial: "survey_scorecard"
= render partial: "activity_log"

.panel.panel-default
  .panel-heading
    Health Check-ins Made
  .panel-body
    This is where info on your health check-in frequency goes