- title("Propose Research Question")


.row
  .col-md-6
    %form.form-horizontal{role: "form"}
      .form-group
        %label.col-sm-4.control-label Question
        .col-sm-8
          %textarea.form-control
      %hr/
      .form-group
        %label.col-sm-4.control-label Reasoning
        .col-sm-8
          %textarea.form-control


      %a.btn.btn-primary.pull-right{:href => "/research_question"} Done