- if params[:id] == 'popular'
  = render partial: "shared/research_topics", locals: {research_questions: Vote.popular_research_questions, editable: false}
- elsif params[:id] == 'mine' and current_user
  = render partial: "shared/research_topics", locals: {research_questions: Vote.user_research_questions(current_user), editable: false}
- elsif params[:id] == 'newest'
  = render partial: "shared/research_topics", locals: {research_questions: Vote.new_research_questions, editable: false}




