-# Take any Javascript included via content_for block, and inject it here
- if content_for :js
  :javascript
    function main() {
      #{yield :js}
    }
    $(document).ready(main);

-# Add Google Analytics Script Here
= javascript_include_tag 'google_analytics'
-# Add User Voice Script Here
= javascript_include_tag 'uservoice'
