%hr/

.row
  .col-md-2.small
    %a{href: main_app.about_path} About
    %br/
    %a{href: main_app.terms_of_service_path} Terms of Service
    %br/
    %a{href: main_app.privacy_policy_document_path} Privacy Policy
    %br/

  .col-md-6.small
    Attribution and Organization behind this site. Lorem ipsum dolor sit amet, ius sonet veniam signiferumque eu, pri ad libris aperiam euripidis. Est ei ferri dolores, purto equidem ea eum. Latine tibique detracto cu pro.
  .col-md-4.small
    Except where otherwise noted, content on this site is licensed under a
    %a{href: "http://creativecommons.org/licenses/by/4.0/", rel: "license"} Creative Commons Attribution 4.0 International license.
    %br/
    / %a{href: "http://creativecommons.org/licenses/by/4.0/", rel: "license"}
    /   %img{alt: "Creative Commons License", src: "https://i.creativecommons.org/l/by/4.0/88x31.png", style: "border-width:0"}/
