- if @title.nil?
  .row
    .col-md-12
      .page-header-blank
- elsif @title.present?
  .row
    .col-md-12
      .page-header
        %h1.pull-left= @title

        - if @intro.present?
          .pull-right
            = render "shared/intro_modal"
        .clearfix
