.row
  .col-md-12

    - if !@title
      .page-header-blank

    - else
      .page-header
        %h1.pull-left= @title

        - if @intro
          .pull-right
            = render "shared/intro_modal"
        .clearfix