.row
  .col-md-12
    - if @title
      .page-header

        / %ol.breadcrumb
        /   %li
        /     %a{href: "#"}= @page_is_for_research ? "Research" : "Community"

        - if @page_is_for_research
          / Button trigger modal
          %h1.pull-left= yield(:title)
          %button.btn.btn-primary.btn-sm.pull-right{"data-target" => "#myModal", "data-toggle" => "modal", :style => "margin-top: 30px;"} Launch Demo Video
          .clearfix
        - else
          %h1= @title

    - else
      .page-header-blank