- @title = "My Account"

- content_for :sublayout do
  .row
    .col-md-3
      = render :partial => "layouts/navigation/account_nav"
    .col-md-9
      = yield

= render template: "layouts/application"