- @title = "Admin Panel"
- @intro = true

- content_for :sublayout do
  = render partial: "layouts/sublayout_sidebar", locals: {nav: 'layouts/navigation/admin_nav'}

= render template: "layouts/#{Rails.application.config.layout}"