- @title = "Admin Panel"
- @intro = true

- content_for :sublayout do
  .row
    .col-md-2
      = render :partial => "layouts/navigation/admin_nav"
    .col-md-10#admin-content
      = yield

= render template: "layouts/application"