- @title = "Patients"
- @intro = true

- content_for :sublayout do
  .row
    .col-md-3
      = render :partial => "layouts/navigation/social_nav"
    .col-md-9
      = yield

= render template: "layouts/application"